In [1]:
import pandas as pd
# import unicodecsv as csv
import re
import nltk
# from haversine import haversine, Unit
from collections import Counter,defaultdict
import re,string
import numpy as np
from nltk.corpus import stopwords
# words = stopwords.words('english')
from datetime import datetime
import re
import ast

import pandas as pd
import time
import sys
import spacy
from datetime import datetime
import os
from tqdm import tqdm

In [3]:
# data0=pd.read_csv("golden_test_v1_detect_revised.tsv",sep='\t')
data0=pd.read_excel("golden_test_v1_detect_revised.xlsx")
data0

,PMID,total_sentences,sentence_order,sentence,detected_candidate,tagged_sentences,category,revised_candidate
0,24390784,5.0,1.0,"Research in Tiriki, Western Province, Kenya, i...",Tiriki,"Research in [locB] Tiriki [locE], Western Prov...",1,Tiriki
1,24390784,5.0,1.0,"Research in Tiriki, Western Province, Kenya, i...",Western Province,"Research in Tiriki, [locB] Western Province [l...",1,NaN
2,24390784,5.0,1.0,"Research in Tiriki, Western Province, Kenya, i...",Kenya,"Research in Tiriki, Western Province, [locB] K...",1,Kenya
3,24390784,6.0,4.0,ka]Key Words kb]age grading kb]senior age grou...,Kenya,ka]Key Words kb]age grading kb]senior age grou...,1,Kenya
4,24390784,6.0,4.0,ka]Key Words kb]age grading kb]senior age grou...,Africa,ka]Key Words kb]age grading kb]senior age grou...,1,Africa
...,...,...,...,...,...,...,...,...
601,27449091,12.0,4.0,"In stage IV disease, the sex disparity favorin...",IV,"In stage [locB] IV [locE] disease, the sex dis...",0,IV
602,27449091,12.0,6.0,Hispanics and Native Americans with locoregion...,Whites,Hispanics and Native Americans with locoregion...,0,Whites
603,27449091,12.0,7.0,"Additionally, Asians with stage I-III RC had s...",Whites,"Additionally, Asians with stage I-III RC had s...",0,Whites
604,27451861,10.0,5.0,The ICU (n = 49) and no-ICU cohorts (n = 47) w...,NS,The ICU (n = 49) and no-ICU cohorts (n = 47) w...,0,NS
605,27451861,10.0,6.0,"Clavien complications, pancreatic leak, reoper...",NS,"Clavien complications, pancreatic leak, reoper...",0,NS

In [3]:
data0 = data0.drop('revised_candidate', axis=1)
data0 = data0.rename(columns={'detected_candidate': 'candidate'})

In [8]:
data0 = data0.rename(columns={'sentence': 'sentences'})

In [4]:
cand_length = []
cand_cap_num = []
cand_cap_ratio = []
cand_has_num = []
cand_has_punc = []
cand_capitalized = []

def contains_punctuation(s):
    return any(not c.isalnum() and not c.isspace() for c in s)

for idx,sentence in enumerate(data0['tagged_sentences']):
    loc_start = sentence.find('[locB]') + 6  # skip [locB]
    loc_end = sentence.find('[locE]')
    location = sentence[loc_start:loc_end].strip()  # remove space on both sides
    
    # lengh of candidate
    length = len(location)
    cand_length.append(length)
    
    # capitalized letters
    cap_num = sum(1 for c in location if c.isupper())
    cand_cap_num.append(cap_num)
    
    # ratio of capitalized letters
    cap_ratio = cap_num / length if length > 0 else 0
    cand_cap_ratio.append(cap_ratio)
    
    # contains number?
    has_num = 1 if any(c.isdigit() for c in location) else 0
    cand_has_num.append(has_num)
    
    # contains punc
    has_punc = 1 if contains_punctuation(location) else 0
    cand_has_punc.append(has_punc)
    
    # 1st letter capitalized 
    try:
        capitalized = 1 if location[0].isupper() else 0
        cand_capitalized.append(capitalized)
    except:
        print(idx,location)
        cand_capitalized.append(0)

# show results
(cand_length[:3], cand_cap_num[:3], cand_cap_ratio[:3], cand_has_num[:3], cand_has_punc[:3], cand_capitalized[:3])

([6, 16, 5],
 [1, 2, 1],
 [0.16666666666666666, 0.125, 0.2],
 [0, 0, 0],
 [0, 0, 0],
 [1, 1, 1])

In [5]:
len(cand_length),len(cand_cap_num),len(cand_cap_ratio),len(cand_has_num),len(cand_has_punc),len(cand_capitalized)

(606, 606, 606, 606, 606, 606)

In [6]:
data0["cand_length"]=cand_length
data0["cand_cap_num"]=cand_cap_num
data0["cand_cap_ratio"]=cand_cap_ratio
data0["cand_has_num"]=cand_has_num
data0["cand_has_punc"]=cand_has_punc
data0["cand_capitalized"]=cand_capitalized

In [9]:
cand_words = []
cand_etal = []
comma_before = []
comma_after = []
parentheses_before = []
parentheses_after = []
year_before = []
year_after = []
etal_before = []
etal_after = []

   
for sentence in data0['sentences']:
    cand_words.append(len(location.split()))
    cand_etal.append(1 if 'et al' in location.lower() else 0)

def find_symbol_distance(sentence, symbol, loc_index, is_before=True):
    """calculate distanc of punc before or after [locB]/[locE]"""
    if is_before:
        segment = sentence[:loc_index].split()
        segment.reverse()  
    else:
        segment = sentence[loc_index:].split()
    
    for i, word in enumerate(segment, start=1):
        if symbol in word:
            return i
    return 0

def find_brackets_distance(sentence, loc_index, is_before=True):
    """calculate distanc of parentheses before or after [locB]/[locE]/"""
    brackets = ['(', ')']
    distance = float('inf')
    for bracket in brackets:
        d = find_symbol_distance(sentence, bracket, loc_index, is_before)
        distance = min(d, distance)
    return distance if distance != float('inf') else 0

def find_years_distance_corrected(sentence, loc_index, is_before=True):
    """calculate distanc of year before or after [locB]/[locE]"""
    pattern = r'\b(1|2)\d{3}\b'
    if is_before:
        segment = sentence[:loc_index].split()
        segment.reverse()  # reverse
    else:
        segment = sentence[loc_index:].split()
    
    for i, word in enumerate(segment, start=1):
        if re.search(pattern, word):
            return i
    return 0

def find_etal_distance_corrected(sentence, loc_index, is_before=True):
    """calculate distanc of et al before or after [locB]/[locE]"""
    etal = 'et al'
    if is_before:
        segment = ' '.join(sentence[:loc_index].lower().split())  
        segment = segment.replace('et al', 'et_al')  
        segment = segment.split()
        segment.reverse()  
    else:
        segment = ' '.join(sentence[loc_index:].lower().split()) 
        segment = segment.replace('et al', 'et_al')  
        segment = segment.split()
    
    for i, phrase in enumerate(segment, start=1):
        if 'et_al' in phrase:
            return i
    return 0

for sentence in data0['tagged_sentences']:
    loc_start = sentence.find('[locB]')
    loc_end = sentence.find('[locE]') + len('[locE]')
    
    comma_before.append(find_symbol_distance(sentence, ',', loc_start, is_before=True))
    comma_after.append(find_symbol_distance(sentence, ',', loc_end, is_before=False))
    parentheses_before.append(find_brackets_distance(sentence, loc_start, is_before=True))
    parentheses_after.append(find_brackets_distance(sentence, loc_end, is_before=False))
    year_before.append(find_years_distance_corrected(sentence, loc_start, is_before=True))
    year_after.append(find_years_distance_corrected(sentence, loc_end, is_before=False))
    etal_before.append(find_etal_distance_corrected(sentence, loc_start, is_before=True))
    etal_after.append(find_etal_distance_corrected(sentence, loc_end, is_before=False))

    
(cand_words[:3], cand_etal[:3], comma_before[:3], comma_after[:3], parentheses_before[:3], parentheses_after[:3], year_before[:3], year_after[:3], etal_before[:3], etal_after[:3])

([1, 1, 1],
 [0, 0, 0],
 [0, 1, 1],
 [1, 1, 1],
 [0, 0, 0],
 [0, 0, 0],
 [0, 0, 0],
 [6, 4, 3],
 [0, 0, 0],
 [0, 0, 0])

In [10]:
data0["cand_words"]=cand_words
data0["cand_etal"]=cand_etal
data0["comma_before"]=comma_before
data0["comma_after"]=comma_after
data0["parentheses_before"]=parentheses_before
data0["parentheses_after"]=parentheses_after
data0["year_before"]=year_before
data0["year_after"]=year_after
data0["etal_before"]=etal_before
data0["etal_after"]=etal_after

In [11]:
cand_pos = []

for index, row in data0.iterrows():
    sentence = row['tagged_sentences']
    candidate_tagged = f"[locB] {row['candidate']} [locE]"
    parts = sentence.split(candidate_tagged)
    words_before = len(re.sub(r'\[locB\]|\[locE\]', '', parts[0]).split())
    candidate_position = words_before + 1  
    total_words = len(re.sub(r'\[locB\]|\[locE\]', '', sentence).split()) + 1 
    relative_pos = candidate_position / total_words
    cand_pos.append(relative_pos)

In [12]:
data0["cand_pos"]=cand_pos

In [23]:
nonUScities = {}

with open('mapaffil_name_variants_nonUScities.tsv', 'r',encoding='utf-8') as file:
    for line in file:
        parts = line.strip().split('\t')
        coord, full_location = parts[:2]
        location_parts = full_location.split(', ')
        if location_parts[0]=="Russia":
            country = location_parts[0]
            province = location_parts[1] if len(location_parts) > 1 else ''
            city = ', '.join(location_parts[2:]) if len(location_parts) > 2 else ''
        else:
            country = location_parts[-1]
            province = location_parts[-2] if len(location_parts) > 1 else ''
            city = ', '.join(location_parts[:-2]) if len(location_parts) > 2 else ''

        for variant in parts[2:]:
            clean_variant = re.sub(r'\s*\d+\s*', '', variant).strip()
            nonUScities[clean_variant] = [coord, city, province, country]

In [25]:
US_states = {}

with open('mapaffil_name_variants_US_states.tsv', 'r',encoding='utf-8') as file:
    for line in file:
        state_list = line.strip().split('\t')
        
        if state_list:
            US_states[state_list[0]] = state_list

reversed_states = {}


for key, values in US_states.items():
    for value in values:
        reversed_states[value] = key

In [26]:
for key in reversed_states:
    state = reversed_states[key]
    reversed_states[key] = ['', '', state, 'USA']

In [27]:
countries = {}

with open('mapaffil_name_variants_countries.tsv', 'r',encoding='utf-8') as file:
    for line in file:
        countries_list = line.strip().split('\t')
        
        if countries_list:
            countries[countries_list[0]] = countries_list

countries["USA"].append("the United States")
countries["UK"].append("the United Kingdom")
countries["USA"].append("U.S.")


reversed_countries = {}

for key, values in countries.items():
    for value in values:
        reversed_countries[value] = key

In [29]:
for key in reversed_countries:
    country = reversed_countries[key]
    reversed_countries[key] = ['', '', '', country]

In [30]:
UScities = {}

with open('mapaffil_name_variants_UScities.tsv', 'r',encoding='utf-8') as file:
    for line in file:
        parts = line.strip().split('\t')
        coord, state, city_name = parts[:3]

        for variant in parts[3:]:
            clean_variant = re.sub(r'\s*\d+\s*', '', variant).strip()
            UScities[clean_variant] = [coord, state, city_name]

In [31]:
for city in UScities:
    coord = UScities[city][0]
    state = UScities[city][1]
    city_name = UScities[city][2]
    UScities[city] = [coord, city_name, state, 'USA']

In [32]:
res_list = []
mapaffil_matched = []

for index, row in data0.iterrows():
    temp = []
    candidate = row['candidate']
    
    for d in [UScities, nonUScities, reversed_countries, reversed_states]:
        if candidate in d:
            temp.append(d[candidate])
    
    res_list.append(temp)
    
    mapaffil_matched.append(1 if temp else 0)

In [35]:
data0["og_mapaffil_res"]=res_list
data0["MapAffil_dict_matched"]=mapaffil_matched

In [36]:
def read_geolocations(filename):
    res=[]
    with open(filename) as file:
        for line in file:
            if len(line.strip())>0:
                res.append(line.strip())
    return res

Africa_Central=['Cameroon','Central African Republic','Chad','Congo','Democratic Republic of the Congo','Equatorial Guinea','Gabon','Sao Tome and Principe']
Africa_Eastern=['Burundi','Djibouti','Eritrea','Ethiopia','Kenya','Rwanda','Somalia','South Sudan','Sudan','Tanzania','Uganda']
Africa_Southern=['Angola','Botswana','Eswatini','Lesotho','Malawi','Mozambique','Namibia','South Africa','Zambia','Zimbabwe']
Africa_Western=['Benin','Benin','Burkina Faso','Cabo Verde',"Cote d'Ivoire","Gambia","Gambia","Ghana","Guinea","Guinea-Bissau","Liberia","Mali","Mauritania","Niger","Nigeria","Senegal","Sierra Leone","Togo"]
Africa_Northern=["Algeria","Egypt","Libya","Morocco","Tunisia"]

Africa = Africa_Central+Africa_Eastern+Africa_Southern+Africa_Western+Africa_Northern

Caribbean_Region=read_geolocations("Caribbean_Region.txt")
Central_America=read_geolocations("Central_America.txt")
South_America=read_geolocations("South_America.txt")
North_America=read_geolocations("North_America.txt")
United_States=read_geolocations("United_States.txt")

Americas=Caribbean_Region+Central_America+South_America+North_America+United_States

Asia=read_geolocations("Asia.txt")
Others=read_geolocations("Others.txt")
Locations=Africa+Americas+Asia+Others

Canada_states={
    "AB":"Alberta",
    "BC":"British Columbia",
    "MB":"Manitoba",
    "NB":"New Brunswick",
    "NL":"Newfoundland and Labrador",
    "NT":"Northwest Territories",
    "NS":"Nova Scotia",
    "NU":"Nunavut",
    "ON":"Ontario",
    "PE":"Prince Edward Island",
    "QC":"Quebec",
    "SK":"Saskatchewan",
    "YT":"Yukon Territory"
}

USA_states={"AL":"Alabama","AK":"Alaska","AZ":"Arizona","AR":"Arkansas","CA":"California","CO":"Colorado","CT":"Connecticut","DE":"Delaware","FL":"Florida","GA":"Georgia","HI":"Hawaii","ID":"Idaho","IL":"Illinois","IN":"Indiana","IA":"Iowa","KS":"Kansas","KY":"Kentucky","LA":"Louisiana","ME":"Maine","MD":"Maryland","MA":"Massachusetts","MI":"Michigan","MN":"Minnesota","MS":"Mississippi","MO":"Missouri","MT":"Montana","NE":"Nebraska","NV":"Nevada","NH":"New Hampshire","NJ":"New Jersey","NM":"New Mexico","NY":"New York","NC":"North Carolina","ND":"North Dakota","OH":"Ohio","OK":"Oklahoma","OR":"Oregon","PA":"Pennsylvania","RI":"Rhode Island","SC":"South Carolina","SD":"South Dakota","TN":"Tennessee","TX":"Texas","UT":"Utah","VT":"Vermont","VA":"Virginia","WA":"Washington","WV":"West Virginia","WI":"Wisconsin","WY":"Wyoming"}

Australia_states={"ACT":"Australian Capital Territory",
                  "NSW":"New South Wales",
                  "NT":"Northern Territory",
                  "QLD":"Queensland",
                  "SA":"South Australia",
                  "TAS":"Tasmania",
                  "VIC":"Victoria",
                  "WA":"Western Australia",
                  "Norfolk Island":"Norfolk Island"
                 }

USA_states["DC"]="District of Columbia"
USA_states["PR"]="Puerto Rico"
USA_states["UM"]="U.S. Minor Outlying Islands"
USA_states["MP"]="Northern Mariana Islands"
USA_states["AS"]="American Samoa"
USA_states["VI"]="Virgin Islands"
USA_states["GU"]="Guam"
USA_states["AA"]="Armed Forces America"
USA_states["AE"]="Armed Forces"

In [37]:
mapcountry_list,mapstate_list=[],[]

# for i in data0["mapaffil_res"]:# res_list
for idx,i in enumerate(res_list):# res_list    
    temp_country,temp_state=[],[]
    if type(i)!=list:
        temp_list=ast.literal_eval(i)
    else:
        temp_list=i
    for res in temp_list:
        if res[-1]=="UK":
            temp_country.append('United Kingdom')
        elif res[-1]=="USA":
            temp_country.append('United States')
        else:
            temp_country.append(res[-1])
        if len(res[-2])==0:
            pass
        else:
            if res[-1]=="USA":
                if res[-2] in USA_states.keys():
                    temp_state.append(USA_states[res[-2]])
                else:
                    print(idx,"USA,",res[-2])
            elif res[-1]=="Canada":
                if res[-2] in Canada_states.keys():
                    temp_state.append(Canada_states[res[-2]])
                else:
                    print("Canada,",res[-2])
            elif res[-1]=="Australia":
                if res[-2] in Australia_states.keys():
                    temp_state.append(Australia_states[res[-2]])
                else:
                    print("Australia,",res[-2])
            else:
                temp_state.append(res[-2])
    mapcountry_list.append(temp_country)   
    mapstate_list.append(temp_state)

In [40]:
data0["mapstand_state_list"]=mapstate_list

In [41]:
standard_country_dict={
    "Palestine":"Middle East",
    "Viet Nam":"Vietnam",
    "Democratic Republic of Congo":"Congo",
    "North Korea":"Democratic People's Republic of Korea",
    "Sultanate of Oman":"Oman",
    "Republic of Georgia":"Georgia (Republic)",
    "East Timor":"Timor-Leste",
    "Niue":"Polynesia",
    "Nauru":"Micronesia",
    "Solomon Islands":"Melanesia",
    "Macao":"China",
    "Moskva":"Russia",
    "Belarus":"Republic of Belarus",
    "Mayotte":"Comoros",
    "Cook Islands":"Polynesia",
    "Macedonia":"Europe, Eastern",
    "French Polynesia":"Polynesia",
    "Kiribati":"Micronesia",
    "Tuvalu":"Micronesia",
    "Marshall Islands":"Micronesia",
    "Maldives":"Asia", 
    "Saint Martin":"West Indies",
    "Aland Islands":"Finland",
    "Cape Verde":"Cabo Verde",
    "Holy See":"Vatican City",
    "Faeroe Islands":"Denmark",
    "Isle of Man":"United Kingdom",
    "Wallis and Futuna":"Polynesia"
}

In [42]:
with open("mtrees2018.bin", "r", encoding="utf-8") as file:
    content = file.read()

In [43]:
lines = content.strip().split("\n")

names2code_dict = {}
code2names_dict = {}
hierarchy_dict = {}

for line in lines:
    name, code = line.split(";")
    names2code_dict[name.strip()] = code
    code2names_dict[code] = name.strip()
    parts = code.split(".")
    for i in range(1, len(parts)):
        key = ".".join(parts[:i+1])
        value = [".".join(parts[:j+1]) for j in range(i)]
        hierarchy_dict[key] = value

In [44]:
for countries in mapcountry_list:
    for country in countries:
        if country not in names2code_dict.keys():
            if country not in standard_country_dict.keys():
                print(country)

In [45]:
region_list,mapstand_country_list=[],[]
for country_list in mapcountry_list:
    temp,temp_country=[],[]
    for country in country_list:
        if country not in names2code_dict.keys():
            if country in standard_country_dict.keys():
                temp_country.append(country)
                for i in hierarchy_dict[names2code_dict[standard_country_dict[country]]]:
                    temp.append(code2names_dict[i])
            else:
                print(country)
        else:
            temp_country.append(country)
            for i in hierarchy_dict[names2code_dict[country]]:
                temp.append(code2names_dict[i])
    region_list.append(temp)
    mapstand_country_list.append(temp_country)

In [49]:
data0["rigion_list"]=region_list
data0["mapstand_country_list"]=mapstand_country_list

In [50]:
import json
with open('lastname_dict.json', 'r') as file:
    lastname_dict = json.load(file)

In [51]:
lastname_freq=[]
for cand in data0["candidate"]:
    if cand in lastname_dict:
        lastname_freq.append(lastname_dict[cand]/52966856)
    else:
        lastname_freq.append(0)

In [52]:
data0["lastname_freq"]=lastname_freq

In [53]:
with open('firstname_dict.json', 'r') as file:
    firstname_dict = json.load(file)

In [54]:
firstname_freq=[]
for cand in data0["candidate"]:
    if cand in firstname_dict:
        firstname_freq.append(firstname_dict[cand]/52966856)
    else:
        firstname_freq.append(0)

In [55]:
data0["firstname_freq"]=firstname_freq

In [56]:
with open('affiliation_dict.json', 'r') as file:
    affiliation_dict = json.load(file)

In [57]:
affiliation_freq=[]
for cand in data0["candidate"]:
    if cand in affiliation_dict:
        affiliation_freq.append(affiliation_dict[cand]/52966856)
    else:
        affiliation_freq.append(0)

In [58]:
data0["affiliation_freq"]=affiliation_freq

In [59]:
with open('title_dict.json', 'r') as file:
    title_dict = json.load(file)

In [60]:
title_freq=[]
for cand in data0["candidate"]:
    if cand in title_dict:
        title_freq.append(title_dict[cand]/15543305)
    else:
        title_freq.append(0)

In [61]:
data0["title_freq"]=title_freq

In [62]:
with open('abstract_dict.json', 'r') as file:
    abstract_dict = json.load(file)

In [63]:
abstract_freq=[]
for cand in data0["candidate"]:
    if cand in abstract_dict:
        abstract_freq.append(abstract_dict[cand]/15543305)
    else:
        abstract_freq.append(0)

In [64]:
data0["abstract_freq"]=abstract_freq

In [76]:
data0['total_sentences'].fillna(value=0, inplace=True)
data0['sentence_order'].fillna(value=0, inplace=True)

In [78]:
sum(data0.isna().any())

0

In [80]:
data0.columns

Index(['PMID', 'total_sentences', 'sentence_order', 'sentences', 'candidate',
       'tagged_sentences', 'category', 'cand_length', 'cand_cap_num',
       'cand_cap_ratio', 'cand_has_num', 'cand_has_punc', 'cand_capitalized',
       'cand_words', 'cand_etal', 'comma_before', 'comma_after',
       'parentheses_before', 'parentheses_after', 'year_before', 'year_after',
       'etal_before', 'etal_after', 'cand_pos', 'og_mapaffil_res',
       'MapAffil_dict_matched', 'mapstand_state_list', 'rigion_list',
       'mapstand_country_list', 'lastname_freq', 'firstname_freq',
       'affiliation_freq', 'title_freq', 'abstract_freq'],
      dtype='object')

In [81]:
data0['lastname_freq_log10'] = np.where(data0['lastname_freq'] <= 0, data0['lastname_freq'], np.log10(data0['lastname_freq']))
data0['firstname_freq_log10'] = np.where(data0['firstname_freq'] <= 0, data0['firstname_freq'], np.log10(data0['firstname_freq']))
data0['affiliation_freq_log10'] = np.where(data0['affiliation_freq'] <= 0, data0['affiliation_freq'], np.log10(data0['affiliation_freq']))
data0['title_freq_log10'] = np.where(data0['title_freq'] <= 0, data0['title_freq'], np.log10(data0['title_freq']))
data0['abstract_freq_log10'] = np.where(data0['abstract_freq'] <= 0, data0['abstract_freq'], np.log10(data0['abstract_freq']))

C:\Users\jxlji\anaconda3\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\jxlji\anaconda3\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\jxlji\anaconda3\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\jxlji\anaconda3\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\jxlji\anaconda3\Lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [87]:
data0.to_csv("golden_self.tsv",sep="\t",index=False)

In [214]:
data0=pd.read_csv("golden_self.tsv",sep="\t")

In [16]:
unique_list=data0.PMID.unique()

In [18]:
unique_df=pd.DataFrame({"PMID":unique_list})

In [19]:
unique_df

         PMID
0    24390784
1    24393089
2    24421179
3    24494939
4    24577789
..        ...
283  26986796
284  26990006
285  27062604
286  27449091
287  27451861

[288 rows x 1 columns]

In [20]:
# 'PPUB.tsv.gz'
# http://abel.lis.illinois.edu/data/PubMed-citation-2018/PPUB.tsv.gz
start_time = time.time()
column_names=['fromPMID', 'toPMID']
PPUB_df = pd.read_csv('PPUB.tsv.gz', sep='\t',compression='gzip', usecols=column_names)#,skiprows=skip_rows, nrows=n_rows_to_read)#, names=column_names)
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

# # 仅保留 PPUB_df 中需要的列，以节省内存
# PPUB_df = PPUB_df[['fromPMID', 'toPMID']]

Processing time：343.6031675338745 seconds

In [26]:
# 使用内部合并，仅保留两个数据集中共有的行
result_df = pd.merge(PPUB_df, unique_df[['PMID']], left_on='fromPMID', right_on='PMID', how='inner')

# 删除辅助列
result_df.drop('PMID', axis=1, inplace=True)

In [40]:
unique_cited=result_df.toPMID.unique()

In [42]:
len(unique_cited)

9577

In [43]:
unique_cited_df=pd.DataFrame({"PMID":unique_cited})

In [44]:
unique_cited_df

          PMID
0      1393709
1      2487128
2      6684981
3      7555215
4      8958452
...        ...
9572  27118665
9573  27811122
9574  27839818
9575  28317067
9576  29411169

[9577 rows x 1 columns]

In [27]:
# filtered_cited = PPUB_df[PPUB_df['fromPMID'].isin(unique_list)]

In [29]:
toPMIDlist_df = result_df.groupby('fromPMID')['toPMID'].apply(list).reset_index(name='toPMIDlist')

In [ ]:
toPMIDlist_df

In [30]:
toPMIDlist_df

     fromPMID                                         toPMIDlist
0    24393089  [1393709, 2487128, 6684981, 7555215, 8958452, ...
1    24399715  [2149639, 2530095, 5064045, 7589207, 7613632, ...
2    24421179  [11000103, 11841668, 12481133, 12651368, 16043...
3    24453941  [196284, 6294151, 7580127, 7931533, 8734579, 9...
4    24494939  [1531583, 2021661, 2738307, 3205267, 7560708, ...
..        ...                                                ...
264  30440893  [8724468, 21624928, 23410655, 23453041, 25014975]
265  30452750  [7573622, 12142772, 12171751, 12668754, 162388...
266  30466303  [15916493, 17588200, 19532050, 20624319, 21226...
267  30468343  [2539074, 2831868, 3014441, 4989111, 8126466, ...
268  30514933  [430798, 1613561, 8854724, 10677535, 10790339,...

[269 rows x 2 columns]

In [34]:
toPMIDlist_df = toPMIDlist_df.rename(columns={'fromPMID': 'PMID'})
toPMIDlist_df = toPMIDlist_df.rename(columns={'toPMIDlist': 'cited_PMID'})

In [35]:
toPMIDlist_df.to_csv('golden_cited_info.tsv', sep='\t', index=False)

In [13]:
start_time = time.time()
column_names=["PMID","MeSH"]
# http://abel.lis.illinois.edu/data/mesh2018.tsv.gz
mesh_df = pd.read_csv('mesh2018.tsv', sep='\t')#,skiprows=skip_rows, nrows=n_rows_to_read)#, usecols=column_names)
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

Processing time：44.054235219955444 seconds

In [36]:
start_time = time.time()
merged_df = pd.merge(toPMIDlist_df, mesh_df, on='PMID', how='left')
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

Processing time：16.2046799659729 seconds

In [52]:
merged_df = merged_df.rename(columns={'cited_PMID': 'citedPMID'})

In [45]:
start_time = time.time()
unique_cited_df_mesh = pd.merge(unique_cited_df, mesh_df, on='PMID', how='left')
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

Processing time：3.7132046222686768 seconds

In [47]:
unique_cited_df_mesh.to_csv("golden_cited_mesh.tsv",sep="\t",index=False)

In [111]:
unique_cited_df_mesh

                                                       mesh
PMID
1393709   African Americans|Chicago|Child|Child Abuse|Ch...
2487128   Baltimore|Child|Child Abuse|Cross-Sectional St...
6684981   Child|Child Abuse|Ethnic Groups|Family Charact...
7555215   Adolescent|Child|Child Abuse|Child, Preschool|...
8958452   Adolescent|Child|Child Abuse|Child, Preschool|...
...                                                     ...
27118665  Adolescent|Adult|Age Distribution|Aged|Aged, 8...
27811122  Aged|Autonomic Nervous System Diseases|Ephedri...
27839818  Animals|Artifacts|Cardiac Imaging Techniques|F...
28317067  Costs and Cost Analysis|Heart|Heart Failure|Hu...
29411169                                                  -

[9577 rows x 1 columns]

In [61]:
# del PPUB
# del mesh_df
# unique_cited_df_mesh.isna().any()

mesh    False
dtype: bool

In [64]:
import pandas as pd
import ast
from tqdm import tqdm
import time

try:
    unique_cited_df_mesh.set_index('PMID', inplace=True)
except: 
    pass

cited_mesh = []

start_time = time.time()

for cited_str in tqdm(merged_df['citedPMID']):
    try:
        cited_list = ast.literal_eval(cited_str)
    except:
        cited_list=cited_str
    current_meshes = set()
    
    for pmid in cited_list:
        mesh_str = unique_cited_df_mesh.loc[pmid, 'mesh'] if pmid in unique_cited_df_mesh.index else ''
        current_meshes.update(mesh_str.split('|'))
    
    cited_mesh.append('|'.join(current_meshes))

end_time = time.time()

elapsed_time = end_time - start_time
print(f"completed spend time in seconds：{elapsed_time}")

100%|██████████████████████████████████████████████████████████████████████████████| 269/269 [00:00<00:00, 2534.68it/s]

匹配完成，耗时：0.11276602745056152秒

In [68]:
merged_df['cited_mesh'] = cited_mesh

# 输出查看
merged_df.head()

,PMID,citedPMID,mesh,cited_mesh
0,24393089,"[1393709, 2487128, 6684981, 7555215, 8958452, ...","Adult|Anomie|Child|Child Abuse, Sexual|Crime V...",Incidence|Poverty|Social Values|Choice Behavio...
1,24399715,"[2149639, 2530095, 5064045, 7589207, 7613632, ...","Animals|Antiparkinson Agents|Behavior, Animal|...",Aminobutyrates|2-Amino-5-phosphonovalerate|Act...
2,24421179,"[11000103, 11841668, 12481133, 12651368, 16043...",Carbon Sequestration|Forests|Indiana|Magnoliop...,"Plant Leaves|Plant Roots|-|Biodegradation, Env..."
3,24453941,"[196284, 6294151, 7580127, 7931533, 8734579, 9...",Animals|Cell Proliferation|GTP-Binding Protein...,GTP-Binding Proteins|Myelin-Oligodendrocyte Gl...
4,24494939,"[1531583, 2021661, 2738307, 3205267, 7560708, ...",Accidental Falls|Aged|Body Mass Index|Female|H...,Finland|Morbidity|China|Reproducibility of Res...

In [69]:
merged_df.to_csv("golden_cited_mesh_citedmesh.tsv",sep="\t")

In [77]:
# MapAffilTempo2018.tsv.gz
# http://abel.lis.illinois.edu/data/MapAffilTempo2018.tsv.gz
start_time = time.time()
column_names=["ID","pos","City","City-temporal"]
mapaffil_df = pd.read_csv('MapAffilTempo2018.tsv.gz', sep='\t', compression='gzip', encoding='utf-8', usecols=column_names)#skiprows=skip_rows, nrows=n_rows_to_read,
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

Processing time：113.4690351486206 seconds

In [78]:
mapaffil_df#.reset_index(drop=True)

,ID,pos,City,City-temporal
0,15398801,1,-,NaN
1,10600040,3,"Wroclaw, Poland","Wroclaw, Poland"
2,11315337,3,"Wroclaw, Poland","Wroclaw, Poland"
3,12820124,2,"Wroclaw, Poland","Wroclaw, Poland"
4,14556494,3,"Wroclaw, Poland","Wroclaw, Poland"
...,...,...,...,...
119966685,22398613,46,"Hinxton, Cambridge, Cambridgeshire, UK","Houston, TX, USA"
119966686,25423365,89,"Houston, TX, USA","Houston, TX, USA"
119966687,25660540,53,"Houston, TX, USA","Houston, TX, USA"
119966688,25908251,120,"Houston, TX, USA","Houston, TX, USA"
119966689,26750718,1,"Sevilla, Spain","Sevilla, Spain"

In [80]:
unique_df["PMID"]

0      24390784
1      24393089
2      24421179
3      24494939
4      24577789
         ...
283    26986796
284    26990006
285    27062604
286    27449091
287    27451861
Name: PMID, Length: 288, dtype: int64

In [79]:
unique_cited_df["PMID"]

0        1393709
1        2487128
2        6684981
3        7555215
4        8958452
          ...
9572    27118665
9573    27811122
9574    27839818
9575    28317067
9576    29411169
Name: PMID, Length: 9577, dtype: int64

In [81]:
filtered_df = mapaffil_df[mapaffil_df['ID'].astype(str).isin(unique_df["PMID"].astype(str))]
filtered_df

,ID,pos,City,City-temporal
258572,30514933,9,"Würzburg, Germany","Würzburg, Germany"
288670,25367471,2,"Davos, Switzerland","Davos, Switzerland"
374365,25889511,4,"Yaoundé, Centre, Cameroon","Montpellier, France"
472137,25265236,4,"Darmstadt, Germany","Darmstadt, Germany"
605054,27449091,9,"Los Angeles, CA, USA","Tokyo, Japan"
...,...,...,...,...
119664590,25167450,3,"Nanjing, China","Nanjing, China"
119687830,28810704,1,"Krc, Praha, Hlavní m sto Praha, Czech Republic","Trebon, Jihoceský, Czech Republic"
119703002,25711284,8,"Cheras, Kuala Lumpur, Wilayah Persekutuan, Mal...","Kuala Lumpur, Wilayah Persekutuan, Malaysia"
119728525,25287853,5,"Rostock, Germany","Rostock, Germany"
119850694,27641360,1,"Tel Aviv, Israel","Tel Aviv, Israel"

In [83]:
filtered_df.rename(columns={'ID': 'PMID'}, inplace=True)
filtered_df_list=filtered_df.groupby('PMID').agg(lambda x:list(x))
filtered_df_list=filtered_df_list.reset_index()
filtered_df_list

C:\Users\jxlji\AppData\Local\Temp\ipykernel_19928\2187578585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns={'ID': 'PMID'}, inplace=True)

,PMID,pos,City,City-temporal
0,24390784,[1],"[Rochester, NY, USA]","[Rochester, NY, USA]"
1,24393089,"[2, 4, 3, 1]","[Orlando, FL, USA, Orlando, FL, USA, Orlando, ...","[Louisville, KY, USA, Orlando, FL, USA, Orland..."
2,24399715,"[2, 1]","[Krakow, Poland, Krakow, Poland]","[Krakow, Poland, Krakow, Poland]"
3,24421179,"[8, 6, 5, 1, 7, 2, 4, 3]","[Bloomington, IN, USA, Bloomington, IN, USA, B...","[Bloomington, IN, USA, Newtown Square, PA, USA..."
4,24453941,"[17, 13, 12, 16, 4, 3, 11, 10, 2, 6, 15, 5, 9,...","[Zurich, Switzerland, Muttenz, Basel, Switzerl...","[Zurich, Switzerland, Muttenz, Basel, Switzerl..."
...,...,...,...,...
281,30452750,"[2, 3, 1]","[Tucson, AZ, USA, Tucson, AZ, USA, Tucson, AZ,...","[Tucson, AZ, USA, Tucson, AZ, USA, Tucson, AZ,..."
282,30466303,"[19, 18, 7, 2, 16, 10, 9, 13, 14, 15, 5, 8, 6,...","[Vancouver, BC, Canada, Vancouver, BC, Canada,...","[Vancouver, BC, Canada, Vancouver, BC, Canada,..."
283,30468343,"[2, 1]","[Zagazig, Ash Sharqiyah, Egypt, Zagazig, Ash S...","[Zagazig, Ash Sharqiyah, Egypt, Zagazig, Ash S..."
284,30500121,"[2, 7, 6, 3, 4, 1, 5, 8]","[Rotterdam, Zuid-Holland, Netherlands, Rotterd...","[Rotterdam, Zuid-Holland, Netherlands, Rotterd..."
285,30514933,"[9, 5, 6, 1, 11, 7, 3, 10, 8, 4, 2]","[Würzburg, Germany, Würzburg, Germany, Balti...","[Würzburg, Germany, Kanazawa, Ishikawa, Japan..."

In [84]:
filtered_df_list['unique_city'] = filtered_df_list['City'].apply(lambda x: ','.join(sorted(set(x))))

In [85]:
filtered_df_list['unique_tempocity'] = filtered_df_list['City-temporal'].apply(
    lambda x: ','.join(
        sorted(
            set(str(item) for item in x)
        )
    )
)

In [88]:
filtered_df_list[["PMID","unique_city","unique_tempocity"]]

,PMID,unique_city,unique_tempocity
0,24390784,"Rochester, NY, USA","Rochester, NY, USA"
1,24393089,"Orlando, FL, USA","Louisville, KY, USA,Orlando, FL, USA"
2,24399715,"Krakow, Poland","Krakow, Poland"
3,24421179,"Bloomington, IN, USA","Bloomington, IN, USA,Garmisch-Partenkirchen, G..."
4,24453941,"Braunschweig, Germany,Muttenz, Basel, Switzerl...","Braunschweig, Germany,Dallas, TX, USA,Heidelbe..."
...,...,...,...
281,30452750,"Tucson, AZ, USA","Tucson, AZ, USA"
282,30466303,"Burnaby, BC, Canada,Kelowna, BC, Canada,New Yo...","Burnaby, BC, Canada,New York, NY, USA,San Dieg..."
283,30468343,"Zagazig, Ash Sharqiyah, Egypt","Zagazig, Ash Sharqiyah, Egypt"
284,30500121,"Rotterdam, Zuid-Holland, Netherlands","Rotterdam, Zuid-Holland, Netherlands"
285,30514933,"Baltimore, MD, USA,Würzburg, Germany","Baltimore, MD, USA,Kanazawa, Ishikawa, Japan,W..."

In [89]:
filtered_df_list[["PMID","unique_city","unique_tempocity"]].to_csv("golden_tempo.tsv",sep="\t",index=False)

In [90]:
filtered_df = mapaffil_df[mapaffil_df['ID'].astype(str).isin(unique_cited_df["PMID"].astype(str))]
filtered_df

,ID,pos,City,City-temporal
418,10573533,7,"Matsumoto, Nagano, Japan","Fukuoka, Japan"
501,18308209,1,"Fukuoka, Japan","Fukuoka, Japan"
1520,20036486,5,"Indianapolis, IN, USA","Indianapolis, IN, USA"
1521,20036488,2,"Indianapolis, IN, USA","Indianapolis, IN, USA"
4895,9641683,45,"Jacksonville, FL, USA","Rotterdam, Zuid-Holland, Netherlands"
...,...,...,...,...
119946042,26972586,4,"Xiamen, China","Xiamen, China"
119947572,25879705,1,"Addis Ababa, Oromia, Ethiopia","Addis Ababa, Oromia, Ethiopia"
119952760,15231968,6,"Atlanta, GA, USA","Atlanta, GA, USA"
119954499,27846951,3,"Los Angeles, CA, USA","Los Angeles, CA, USA"
119958784,26163235,1,"Valencia, Spain","Valencia, Spain"

In [91]:
filtered_df.rename(columns={'ID': 'PMID'}, inplace=True)
filtered_df_list=filtered_df.groupby('PMID').agg(lambda x:list(x))
filtered_df_list=filtered_df_list.reset_index()
filtered_df_list

C:\Users\jxlji\AppData\Local\Temp\ipykernel_19928\2187578585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.rename(columns={'ID': 'PMID'}, inplace=True)

,PMID,pos,City,City-temporal
0,10003356,"[4, 1, 5, 3, 2]","[London, UK, London, UK, London, UK, London, U...","[London, UK, London, UK, London, UK, London, U..."
1,10004425,"[1, 3, 2]","[Warren, MI, USA, Columbia, MO, USA, Warren, M...","[Warren, MI, USA, Columbia, MO, USA, Warren, M..."
2,10021465,"[5, 2, 1, 3, 4]","[Cincinnati, OH, USA, Cincinnati, OH, USA, Cin...","[Cincinnati, OH, USA, Cincinnati, OH, USA, Cin..."
3,10022404,"[2, 4, 5, 1, 3]","[Bethesda, MD, USA, Bethesda, MD, USA, Bethesd...","[Bethesda, MD, USA, Bethesda, MD, USA, Baltimo..."
4,10022830,"[4, 5, 3, 2, 1]","[Philadelphia, PA, USA, Philadelphia, PA, USA,...","[Philadelphia, PA, USA, Philadelphia, PA, USA,..."
...,...,...,...,...
9540,9946999,[1],"[Johannesburg, Gauteng, South Africa]","[Johannesburg, Gauteng, South Africa]"
9541,9950829,"[2, 3, 4, 1]","[New Haven, CT, USA, New Haven, CT, USA, New H...","[New Haven, CT, USA, New Haven, CT, USA, New H..."
9542,9977254,"[1, 2]","[Newcastle Upon Tyne, Tyne and Wear, UK, Newca...","[Newcastle Upon Tyne, Tyne and Wear, UK, Newca..."
9543,9987176,"[2, 5, 4, 1, 6, 3]","[Taipei, Taiwan, Taipei, Taiwan, Taipei, Taiwa...","[Beitou, Taipei, Taiwan, Beitou, Taipei, Taiwa..."
9544,9999816,[1],"[Johannesburg, Gauteng, South Africa]","[Johannesburg, Gauteng, South Africa]"

In [92]:
filtered_df_list['unique_city'] = filtered_df_list['City'].apply(lambda x: ','.join(sorted(set(x))))
filtered_df_list['unique_tempocity'] = filtered_df_list['City-temporal'].apply(
    lambda x: ','.join(
        sorted(
            set(str(item) for item in x)
        )
    )
)
filtered_df_list[["PMID","unique_city","unique_tempocity"]]

,PMID,unique_city,unique_tempocity
0,10003356,"London, UK","London, UK"
1,10004425,"Columbia, MO, USA,Warren, MI, USA","Columbia, MO, USA,Warren, MI, USA"
2,10021465,"Cincinnati, OH, USA","Cincinnati, OH, USA"
3,10022404,"Bethesda, MD, USA","Baltimore, MD, USA,Bethesda, MD, USA"
4,10022830,"Philadelphia, PA, USA","Dallas, TX, USA,Philadelphia, PA, USA"
...,...,...,...
9540,9946999,"Johannesburg, Gauteng, South Africa","Johannesburg, Gauteng, South Africa"
9541,9950829,"New Haven, CT, USA","New Haven, CT, USA"
9542,9977254,"Newcastle Upon Tyne, Tyne and Wear, UK","Newcastle Upon Tyne, Tyne and Wear, UK"
9543,9987176,"Taipei, Taiwan","Beitou, Taipei, Taiwan,Taipei, Taiwan"
9544,9999816,"Johannesburg, Gauteng, South Africa","Johannesburg, Gauteng, South Africa"

In [93]:
filtered_df_list[["PMID","unique_city","unique_tempocity"]].to_csv("golden_cited_tempo.tsv",sep="\t",index=False)

In [97]:
merged_df

,PMID,citedPMID,mesh,cited_mesh
0,24393089,"[1393709, 2487128, 6684981, 7555215, 8958452, ...","Adult|Anomie|Child|Child Abuse, Sexual|Crime V...",Incidence|Poverty|Social Values|Choice Behavio...
1,24399715,"[2149639, 2530095, 5064045, 7589207, 7613632, ...","Animals|Antiparkinson Agents|Behavior, Animal|...",Aminobutyrates|2-Amino-5-phosphonovalerate|Act...
2,24421179,"[11000103, 11841668, 12481133, 12651368, 16043...",Carbon Sequestration|Forests|Indiana|Magnoliop...,"Plant Leaves|Plant Roots|-|Biodegradation, Env..."
3,24453941,"[196284, 6294151, 7580127, 7931533, 8734579, 9...",Animals|Cell Proliferation|GTP-Binding Protein...,GTP-Binding Proteins|Myelin-Oligodendrocyte Gl...
4,24494939,"[1531583, 2021661, 2738307, 3205267, 7560708, ...",Accidental Falls|Aged|Body Mass Index|Female|H...,Finland|Morbidity|China|Reproducibility of Res...
...,...,...,...,...
264,30440893,"[8724468, 21624928, 23410655, 23453041, 25014975]",-,Neurologic Examination|Age Factors|Artificial ...
265,30452750,"[7573622, 12142772, 12171751, 12668754, 162388...",-,Health Planning|Bioterrorism|Morbidity|Smartph...
266,30466303,"[15916493, 17588200, 19532050, 20624319, 21226...",-,Acquired Immunodeficiency Syndrome|Adolescent|...
267,30468343,"[2539074, 2831868, 3014441, 4989111, 8126466, ...",-,"DNA, Complementary|Software|Internet|Cell Cult..."
268,30514933,"[430798, 1613561, 8854724, 10677535, 10790339,...",-,Tissue Survival|Cardiomyopathies|Oxidative Str...

In [232]:
tempo_df=pd.read_csv("golden_tempo.tsv",sep="\t")

In [233]:
tempo_df

,PMID,unique_city,unique_tempocity
0,24390784,"Rochester, NY, USA","Rochester, NY, USA"
1,24393089,"Orlando, FL, USA","Louisville, KY, USA,Orlando, FL, USA"
2,24399715,"Krakow, Poland","Krakow, Poland"
3,24421179,"Bloomington, IN, USA","Bloomington, IN, USA,Garmisch-Partenkirchen, G..."
4,24453941,"Braunschweig, Germany,Muttenz, Basel, Switzerl...","Braunschweig, Germany,Dallas, TX, USA,Heidelbe..."
...,...,...,...
281,30452750,"Tucson, AZ, USA","Tucson, AZ, USA"
282,30466303,"Burnaby, BC, Canada,Kelowna, BC, Canada,New Yo...","Burnaby, BC, Canada,New York, NY, USA,San Dieg..."
283,30468343,"Zagazig, Ash Sharqiyah, Egypt","Zagazig, Ash Sharqiyah, Egypt"
284,30500121,"Rotterdam, Zuid-Holland, Netherlands","Rotterdam, Zuid-Holland, Netherlands"
285,30514933,"Baltimore, MD, USA,Würzburg, Germany","Baltimore, MD, USA,Kanazawa, Ishikawa, Japan,W..."

In [234]:
start_time = time.time()
merged_df = pd.merge(merged_df, tempo_df, on='PMID', how='left')
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

Processing time：0.0014581680297851562 seconds

In [235]:
merged_df=merged_df.drop('unique_city', axis=1)

In [237]:
merged_df

,PMID,cited_PMID,mesh,unique_city_x,unique_city_y,unique_tempocity
0,24393089,"[1393709, 2487128, 6684981, 7555215, 8958452, ...","Adult|Anomie|Child|Child Abuse, Sexual|Crime V...","Orlando, FL, USA","Orlando, FL, USA","Louisville, KY, USA,Orlando, FL, USA"
1,24399715,"[2149639, 2530095, 5064045, 7589207, 7613632, ...","Animals|Antiparkinson Agents|Behavior, Animal|...","Krakow, Poland","Krakow, Poland","Krakow, Poland"
2,24421179,"[11000103, 11841668, 12481133, 12651368, 16043...",Carbon Sequestration|Forests|Indiana|Magnoliop...,"Bloomington, IN, USA","Bloomington, IN, USA","Bloomington, IN, USA,Garmisch-Partenkirchen, G..."
3,24453941,"[196284, 6294151, 7580127, 7931533, 8734579, 9...",Animals|Cell Proliferation|GTP-Binding Protein...,"Braunschweig, Germany,Muttenz, Basel, Switzerl...","Braunschweig, Germany,Muttenz, Basel, Switzerl...","Braunschweig, Germany,Dallas, TX, USA,Heidelbe..."
4,24494939,"[1531583, 2021661, 2738307, 3205267, 7560708, ...",Accidental Falls|Aged|Body Mass Index|Female|H...,"NSW, Australia","NSW, Australia","Sydney, NSW, Australia"
...,...,...,...,...,...,...
264,30440893,"[8724468, 21624928, 23410655, 23453041, 25014975]",-,-,-,"Jinan, Shandong, China,Zhengzhou, China,nan"
265,30452750,"[7573622, 12142772, 12171751, 12668754, 162388...",-,"Tucson, AZ, USA","Tucson, AZ, USA","Tucson, AZ, USA"
266,30466303,"[15916493, 17588200, 19532050, 20624319, 21226...",-,"Burnaby, BC, Canada,Kelowna, BC, Canada,New Yo...","Burnaby, BC, Canada,Kelowna, BC, Canada,New Yo...","Burnaby, BC, Canada,New York, NY, USA,San Dieg..."
267,30468343,"[2539074, 2831868, 3014441, 4989111, 8126466, ...",-,"Zagazig, Ash Sharqiyah, Egypt","Zagazig, Ash Sharqiyah, Egypt","Zagazig, Ash Sharqiyah, Egypt"
268,30514933,"[430798, 1613561, 8854724, 10677535, 10790339,...",-,"Baltimore, MD, USA,Würzburg, Germany","Baltimore, MD, USA,Würzburg, Germany","Baltimore, MD, USA,Kanazawa, Ishikawa, Japan,W..."

In [238]:
cited_tempo_df=pd.read_csv("golden_cited_tempo.tsv",sep="\t")

In [239]:
cited_mesh_df=pd.read_csv("golden_cited_mesh.tsv",sep="\t")

In [240]:
start_time = time.time()
merged = pd.merge(cited_tempo_df, cited_mesh_df, on='PMID', how='left')
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

Processing time：0.004562854766845703 seconds

In [241]:
merged

,PMID,unique_city,unique_tempocity,mesh
0,10003356,"London, UK","London, UK",-
1,10004425,"Columbia, MO, USA,Warren, MI, USA","Columbia, MO, USA,Warren, MI, USA",-
2,10021465,"Cincinnati, OH, USA","Cincinnati, OH, USA","Administration, Inhalation|Animals|Bronchoalve..."
3,10022404,"Bethesda, MD, USA","Baltimore, MD, USA,Bethesda, MD, USA","Adenoma|Adolescent|Adult|Aged|Aged, 80 and ove..."
4,10022830,"Philadelphia, PA, USA","Dallas, TX, USA,Philadelphia, PA, USA",Animals|Arrestins|Binding Sites|COS Cells|Catt...
...,...,...,...,...
9540,9946999,"Johannesburg, Gauteng, South Africa","Johannesburg, Gauteng, South Africa",-
9541,9950829,"New Haven, CT, USA","New Haven, CT, USA","Animals|Blotting, Northern|Blotting, Western|C..."
9542,9977254,"Newcastle Upon Tyne, Tyne and Wear, UK","Newcastle Upon Tyne, Tyne and Wear, UK",-
9543,9987176,"Taipei, Taiwan","Beitou, Taipei, Taiwan,Taipei, Taiwan",Child|Follow-Up Studies|Hepatitis B Surface An...
9544,9999816,"Johannesburg, Gauteng, South Africa","Johannesburg, Gauteng, South Africa",-

In [246]:
merged_df.rename(columns={'unique_city_x': 'unique_city'}, inplace=True)
merged_df=merged_df.drop('unique_city_y', axis=1)

In [247]:
merged_df

,PMID,cited_PMID,mesh,unique_city,unique_tempocity
0,24393089,"[1393709, 2487128, 6684981, 7555215, 8958452, ...","Adult|Anomie|Child|Child Abuse, Sexual|Crime V...","Orlando, FL, USA","Louisville, KY, USA,Orlando, FL, USA"
1,24399715,"[2149639, 2530095, 5064045, 7589207, 7613632, ...","Animals|Antiparkinson Agents|Behavior, Animal|...","Krakow, Poland","Krakow, Poland"
2,24421179,"[11000103, 11841668, 12481133, 12651368, 16043...",Carbon Sequestration|Forests|Indiana|Magnoliop...,"Bloomington, IN, USA","Bloomington, IN, USA,Garmisch-Partenkirchen, G..."
3,24453941,"[196284, 6294151, 7580127, 7931533, 8734579, 9...",Animals|Cell Proliferation|GTP-Binding Protein...,"Braunschweig, Germany,Muttenz, Basel, Switzerl...","Braunschweig, Germany,Dallas, TX, USA,Heidelbe..."
4,24494939,"[1531583, 2021661, 2738307, 3205267, 7560708, ...",Accidental Falls|Aged|Body Mass Index|Female|H...,"NSW, Australia","Sydney, NSW, Australia"
...,...,...,...,...,...
264,30440893,"[8724468, 21624928, 23410655, 23453041, 25014975]",-,-,"Jinan, Shandong, China,Zhengzhou, China,nan"
265,30452750,"[7573622, 12142772, 12171751, 12668754, 162388...",-,"Tucson, AZ, USA","Tucson, AZ, USA"
266,30466303,"[15916493, 17588200, 19532050, 20624319, 21226...",-,"Burnaby, BC, Canada,Kelowna, BC, Canada,New Yo...","Burnaby, BC, Canada,New York, NY, USA,San Dieg..."
267,30468343,"[2539074, 2831868, 3014441, 4989111, 8126466, ...",-,"Zagazig, Ash Sharqiyah, Egypt","Zagazig, Ash Sharqiyah, Egypt"
268,30514933,"[430798, 1613561, 8854724, 10677535, 10790339,...",-,"Baltimore, MD, USA,Würzburg, Germany","Baltimore, MD, USA,Kanazawa, Ishikawa, Japan,W..."

In [132]:
merged_df.rename(columns={'citedPMID': 'cited_PMID'}, inplace=True)

In [248]:
def process_row(row):
    new_row = row.copy()
    cited_info = {f'cited_{col}': [] for col in merged.columns if col != 'PMID'}

    try:
        cited_pmids = ast.literal_eval(row['cited_PMID'])
    except:
        cited_pmids = row['cited_PMID']

    for cited_pmid in cited_pmids:
        matched_rows = merged[merged['PMID'] == cited_pmid]

        if not matched_rows.empty:
            for col in merged.columns:

                if col != 'PMID':
                    cited_info[f'cited_{col}'].extend(matched_rows[col].tolist())
        else:
            for col in merged.columns:
                if col != 'PMID':
                    cited_info[f'cited_{col}'].append([])

    for col, values in cited_info.items():
        unique_cities_set = set()
        for item in values:
            if isinstance(item, str):
                items = [i.strip() for i in item.split(',') if col != 'cited_mesh']
                items += [i.strip() for i in item.split('|') if col == 'cited_mesh']  
                unique_cities_set.update(items)
            elif isinstance(item, list) and item:  
                cities = [city.strip() for city in item]
                unique_cities_set.update(item)

        if '-' in unique_cities_set:
            unique_cities_set.remove('-')

        unique_cities_list = list(unique_cities_set)
        new_row[col] = unique_cities_list

    return pd.Series(new_row)

result_columns = list(merged_df.columns) + [f'cited_{col}' for col in merged.columns if col != 'PMID']
result_df = pd.DataFrame(columns=result_columns)

batch_size = 2000
# if data is large
for start in range(0, 1600000, batch_size):
    print(datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
    end = start + batch_size
    print(f"Processing rows {start} to {end} at {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")
    
    batch_df = merged_df.iloc[start:end].apply(process_row, axis=1)
    result_df = pd.concat([result_df, batch_df], ignore_index=True)

print(f"Processing complete at {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")

2024-05-02 12:36:31
Processing rows 0 to 2000 at 2024-05-02 12:36:31
2024-05-02 12:36:32
Processing rows 2000 to 4000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 4000 to 6000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 6000 to 8000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 8000 to 10000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 10000 to 12000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 12000 to 14000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 14000 to 16000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 16000 to 18000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 18000 to 20000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 20000 to 22000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 22000 to 24000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 24000 to 26000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 26000 to 28000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 28000 to 30000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 30000 to 32000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 32000 to 34000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 34000 to 36000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 36000 to 38000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 38000 to 40000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 40000 to 42000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 42000 to 44000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 44000 to 46000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 46000 to 48000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 48000 to 50000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 50000 to 52000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 52000 to 54000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 54000 to 56000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 56000 to 58000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 58000 to 60000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 60000 to 62000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 62000 to 64000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 64000 to 66000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 66000 to 68000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 68000 to 70000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 70000 to 72000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 72000 to 74000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 74000 to 76000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 76000 to 78000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 78000 to 80000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 80000 to 82000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 82000 to 84000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 84000 to 86000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 86000 to 88000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 88000 to 90000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 90000 to 92000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 92000 to 94000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 94000 to 96000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 96000 to 98000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 98000 to 100000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 100000 to 102000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 102000 to 104000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 104000 to 106000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 106000 to 108000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 108000 to 110000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 110000 to 112000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 112000 to 114000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 114000 to 116000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 116000 to 118000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 118000 to 120000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 120000 to 122000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 122000 to 124000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 124000 to 126000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 126000 to 128000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 128000 to 130000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 130000 to 132000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 132000 to 134000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 134000 to 136000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 136000 to 138000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 138000 to 140000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 140000 to 142000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 142000 to 144000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 144000 to 146000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 146000 to 148000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 148000 to 150000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 150000 to 152000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 152000 to 154000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 154000 to 156000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 156000 to 158000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 158000 to 160000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 160000 to 162000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 162000 to 164000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 164000 to 166000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 166000 to 168000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 168000 to 170000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 170000 to 172000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 172000 to 174000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 174000 to 176000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 176000 to 178000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 178000 to 180000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 180000 to 182000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 182000 to 184000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 184000 to 186000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 186000 to 188000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 188000 to 190000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 190000 to 192000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 192000 to 194000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 194000 to 196000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 196000 to 198000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 198000 to 200000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 200000 to 202000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 202000 to 204000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 204000 to 206000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 206000 to 208000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 208000 to 210000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 210000 to 212000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 212000 to 214000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 214000 to 216000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 216000 to 218000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 218000 to 220000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 220000 to 222000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 222000 to 224000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 224000 to 226000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 226000 to 228000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 228000 to 230000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 230000 to 232000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 232000 to 234000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 234000 to 236000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 236000 to 238000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 238000 to 240000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 240000 to 242000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 242000 to 244000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 244000 to 246000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 246000 to 248000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 248000 to 250000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 250000 to 252000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 252000 to 254000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 254000 to 256000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 256000 to 258000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 258000 to 260000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 260000 to 262000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 262000 to 264000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 264000 to 266000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 266000 to 268000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 268000 to 270000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 270000 to 272000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 272000 to 274000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 274000 to 276000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 276000 to 278000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 278000 to 280000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 280000 to 282000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 282000 to 284000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 284000 to 286000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 286000 to 288000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 288000 to 290000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 290000 to 292000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 292000 to 294000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 294000 to 296000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 296000 to 298000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 298000 to 300000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 300000 to 302000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 302000 to 304000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 304000 to 306000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 306000 to 308000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 308000 to 310000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 310000 to 312000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 312000 to 314000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 314000 to 316000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 316000 to 318000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 318000 to 320000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 320000 to 322000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 322000 to 324000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 324000 to 326000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 326000 to 328000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 328000 to 330000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 330000 to 332000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 332000 to 334000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 334000 to 336000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 336000 to 338000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 338000 to 340000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 340000 to 342000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 342000 to 344000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 344000 to 346000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 346000 to 348000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 348000 to 350000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 350000 to 352000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 352000 to 354000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 354000 to 356000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 356000 to 358000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 358000 to 360000 at 2024-05-02 12:36:32
2024-05-02 12:36:32
Processing rows 360000 to 362000 at 2024-05-02 12:36:32
2024-05-02 12:36:33
Processing rows 362000 to 364000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 364000 to 366000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 366000 to 368000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 368000 to 370000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 370000 to 372000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 372000 to 374000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 374000 to 376000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 376000 to 378000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 378000 to 380000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 380000 to 382000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 382000 to 384000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 384000 to 386000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 386000 to 388000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 388000 to 390000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 390000 to 392000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 392000 to 394000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 394000 to 396000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 396000 to 398000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 398000 to 400000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 400000 to 402000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 402000 to 404000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 404000 to 406000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 406000 to 408000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 408000 to 410000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 410000 to 412000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 412000 to 414000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 414000 to 416000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 416000 to 418000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 418000 to 420000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 420000 to 422000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 422000 to 424000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 424000 to 426000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 426000 to 428000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 428000 to 430000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 430000 to 432000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 432000 to 434000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 434000 to 436000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 436000 to 438000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 438000 to 440000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 440000 to 442000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 442000 to 444000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 444000 to 446000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 446000 to 448000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 448000 to 450000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 450000 to 452000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 452000 to 454000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 454000 to 456000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 456000 to 458000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 458000 to 460000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 460000 to 462000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 462000 to 464000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 464000 to 466000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 466000 to 468000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 468000 to 470000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 470000 to 472000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 472000 to 474000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 474000 to 476000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 476000 to 478000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 478000 to 480000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 480000 to 482000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 482000 to 484000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 484000 to 486000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 486000 to 488000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 488000 to 490000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 490000 to 492000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 492000 to 494000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 494000 to 496000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 496000 to 498000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 498000 to 500000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 500000 to 502000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 502000 to 504000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 504000 to 506000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 506000 to 508000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 508000 to 510000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 510000 to 512000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 512000 to 514000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 514000 to 516000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 516000 to 518000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 518000 to 520000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 520000 to 522000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 522000 to 524000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 524000 to 526000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 526000 to 528000 at 2024-05-02 12:36:33
2024-05-02 12:36:33

2024-05-02 12:36:33
Processing rows 866000 to 868000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 868000 to 870000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 870000 to 872000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 872000 to 874000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 874000 to 876000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 876000 to 878000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 878000 to 880000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 880000 to 882000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 882000 to 884000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 884000 to 886000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 886000 to 888000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 888000 to 890000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 890000 to 892000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 892000 to 894000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 894000 to 896000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 896000 to 898000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 898000 to 900000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 900000 to 902000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 902000 to 904000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 904000 to 906000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 906000 to 908000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 908000 to 910000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 910000 to 912000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 912000 to 914000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 914000 to 916000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 916000 to 918000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 918000 to 920000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 920000 to 922000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 922000 to 924000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 924000 to 926000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 926000 to 928000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 928000 to 930000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 930000 to 932000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 932000 to 934000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 934000 to 936000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 936000 to 938000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 938000 to 940000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 940000 to 942000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 942000 to 944000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 944000 to 946000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 946000 to 948000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 948000 to 950000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 950000 to 952000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 952000 to 954000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 954000 to 956000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 956000 to 958000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 958000 to 960000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 960000 to 962000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 962000 to 964000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 964000 to 966000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 966000 to 968000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 968000 to 970000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 970000 to 972000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 972000 to 974000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 974000 to 976000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 976000 to 978000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 978000 to 980000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 980000 to 982000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 982000 to 984000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 984000 to 986000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 986000 to 988000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 988000 to 990000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 990000 to 992000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 992000 to 994000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 994000 to 996000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 996000 to 998000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 998000 to 1000000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1000000 to 1002000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1002000 to 1004000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1004000 to 1006000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1006000 to 1008000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1008000 to 1010000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1010000 to 1012000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1012000 to 1014000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1014000 to 1016000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1016000 to 1018000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1018000 to 1020000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1020000 to 1022000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1022000 to 1024000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1024000 to 1026000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1026000 to 1028000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1028000 to 1030000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1030000 to 1032000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1032000 to 1034000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1034000 to 1036000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1036000 to 1038000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1038000 to 1040000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1040000 to 1042000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1042000 to 1044000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1044000 to 1046000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1046000 to 1048000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1048000 to 1050000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1050000 to 1052000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1052000 to 1054000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1054000 to 1056000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1056000 to 1058000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1058000 to 1060000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1060000 to 1062000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1062000 to 1064000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1064000 to 1066000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1066000 to 1068000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1068000 to 1070000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1070000 to 1072000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1072000 to 1074000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1074000 to 1076000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1076000 to 1078000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1078000 to 1080000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1080000 to 1082000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1082000 to 1084000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1084000 to 1086000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1086000 to 1088000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1088000 to 1090000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1090000 to 1092000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1092000 to 1094000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1094000 to 1096000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1096000 to 1098000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1098000 to 1100000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1100000 to 1102000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1102000 to 1104000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1104000 to 1106000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1106000 to 1108000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1108000 to 1110000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1110000 to 1112000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1112000 to 1114000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1114000 to 1116000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1116000 to 1118000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1118000 to 1120000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1120000 to 1122000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1122000 to 1124000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1124000 to 1126000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1126000 to 1128000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1128000 to 1130000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1130000 to 1132000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1132000 to 1134000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1134000 to 1136000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1136000 to 1138000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1138000 to 1140000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1140000 to 1142000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1142000 to 1144000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1144000 to 1146000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1146000 to 1148000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1148000 to 1150000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1150000 to 1152000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1152000 to 1154000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1154000 to 1156000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1156000 to 1158000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1158000 to 1160000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1160000 to 1162000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1162000 to 1164000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1164000 to 1166000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1166000 to 1168000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1168000 to 1170000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1170000 to 1172000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1172000 to 1174000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1174000 to 1176000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1176000 to 1178000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1178000 to 1180000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1180000 to 1182000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1182000 to 1184000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1184000 to 1186000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1186000 to 1188000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1188000 to 1190000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1190000 to 1192000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1192000 to 1194000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1194000 to 1196000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1196000 to 1198000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1198000 to 1200000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1200000 to 1202000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1202000 to 1204000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1204000 to 1206000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1206000 to 1208000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1208000 to 1210000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1210000 to 1212000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1212000 to 1214000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1214000 to 1216000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1216000 to 1218000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1218000 to 1220000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1220000 to 1222000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1222000 to 1224000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1224000 to 1226000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1226000 to 1228000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1228000 to 1230000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1230000 to 1232000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1232000 to 1234000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1234000 to 1236000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1236000 to 1238000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1238000 to 1240000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1240000 to 1242000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1242000 to 1244000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1244000 to 1246000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1246000 to 1248000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1248000 to 1250000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1250000 to 1252000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1252000 to 1254000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1254000 to 1256000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1256000 to 1258000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1258000 to 1260000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1260000 to 1262000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1262000 to 1264000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1264000 to 1266000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1266000 to 1268000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1268000 to 1270000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1270000 to 1272000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1272000 to 1274000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1274000 to 1276000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1276000 to 1278000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1278000 to 1280000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1280000 to 1282000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1282000 to 1284000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1284000 to 1286000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1286000 to 1288000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1288000 to 1290000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1290000 to 1292000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1292000 to 1294000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1294000 to 1296000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1296000 to 1298000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1298000 to 1300000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1300000 to 1302000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1302000 to 1304000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1304000 to 1306000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1306000 to 1308000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1308000 to 1310000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1310000 to 1312000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1312000 to 1314000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1314000 to 1316000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1316000 to 1318000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1318000 to 1320000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1320000 to 1322000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1322000 to 1324000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1324000 to 1326000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1326000 to 1328000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1328000 to 1330000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1330000 to 1332000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1332000 to 1334000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1334000 to 1336000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1336000 to 1338000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1338000 to 1340000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1340000 to 1342000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1342000 to 1344000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1344000 to 1346000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1346000 to 1348000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1348000 to 1350000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1350000 to 1352000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1352000 to 1354000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1354000 to 1356000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1356000 to 1358000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1358000 to 1360000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1360000 to 1362000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1362000 to 1364000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1364000 to 1366000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1366000 to 1368000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1368000 to 1370000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1370000 to 1372000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1372000 to 1374000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1374000 to 1376000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1376000 to 1378000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1378000 to 1380000 at 2024-05-02 12:36:33
2024-05-02 12:36:33
Processing rows 1380000 to 1382000 at 2024-05-02 12:36:33

In [249]:
result_df.to_csv("golden_cited_all.tsv",sep="\t",index=False)

In [250]:
result_df

,PMID,cited_PMID,mesh,unique_city,unique_tempocity,cited_unique_city,cited_unique_tempocity,cited_mesh
0,24393089,"[1393709, 2487128, 6684981, 7555215, 8958452, ...","Adult|Anomie|Child|Child Abuse, Sexual|Crime V...","Orlando, FL, USA","Louisville, KY, USA,Orlando, FL, USA","[OK, WA, Tacoma, Los Angeles, Baltimore, Cleve...","[Seattle, TX, Charleston, Austin, Los Angeles,...","[Incidence, Poverty, Social Values, Choice Beh..."
1,24399715,"[2149639, 2530095, 5064045, 7589207, 7613632, ...","Animals|Antiparkinson Agents|Behavior, Animal|...","Krakow, Poland","Krakow, Poland","[Yantai, London, China, Indianapolis, TN, Krak...","[Yantai, Aachen, London, China, Indianapolis, ...","[Aminobutyrates, 2-Amino-5-phosphonovalerate, ..."
2,24421179,"[11000103, 11841668, 12481133, 12651368, 16043...",Carbon Sequestration|Forests|Indiana|Magnoliop...,"Bloomington, IN, USA","Bloomington, IN, USA,Garmisch-Partenkirchen, G...","[Fort Wainwright, Finland, AZ, China, Tucson, ...","[Fort Wainwright, Finland, AZ, KS, China, Tucs...","[Plant Leaves, Plant Roots, Biodegradation, En..."
3,24453941,"[196284, 6294151, 7580127, 7931533, 8734579, 9...",Animals|Cell Proliferation|GTP-Binding Protein...,"Braunschweig, Germany,Muttenz, Basel, Switzerl...","Braunschweig, Germany,Dallas, TX, USA,Heidelbe...","[Ishikawa, Suita, CT, DC, USA, Oxford, Kanazaw...","[China, Ishikawa, Suita, CT, East Hanover, DC,...","[GTP-Binding Proteins, Myelin-Oligodendrocyte ..."
4,24494939,"[1531583, 2021661, 2738307, 3205267, 7560708, ...",Accidental Falls|Aged|Body Mass Index|Female|H...,"NSW, Australia","Sydney, NSW, Australia","[Finland, Oklahoma City, China, TN, NY, Westwo...","[Queenstown, Finland, London, Oklahoma City, C...","[Finland, Morbidity, China, Reproducibility of..."
...,...,...,...,...,...,...,...,...
264,30440893,"[8724468, 21624928, 23410655, 23453041, 25014975]",-,-,"Jinan, Shandong, China,Zhengzhou, China,nan","[Shanghai, China, Louisville, Southampton, Cle...","[Shanghai, China, Louisville, Southampton, Cle...","[Neurologic Examination, Age Factors, Artifici..."
265,30452750,"[7573622, 12142772, 12171751, 12668754, 162388...",-,"Tucson, AZ, USA","Tucson, AZ, USA","[Denver, Seattle, London, AZ, Afula, Tucson, P...","[Denver, Seattle, AZ, Tucson, SD, DC, Los Ange...","[Health Planning, Bioterrorism, Morbidity, Sma..."
266,30466303,"[15916493, 17588200, 19532050, 20624319, 21226...",-,"Burnaby, BC, Canada,Kelowna, BC, Canada,New Yo...","Burnaby, BC, Canada,New York, NY, USA,San Dieg...","[Seattle, Boulogne-Billancourt, Seoul, Anderle...","[Seattle, Boulogne-Billancourt, Seoul, Anderle...","[Acquired Immunodeficiency Syndrome, Adolescen..."
267,30468343,"[2539074, 2831868, 3014441, 4989111, 8126466, ...",-,"Zagazig, Ash Sharqiyah, Egypt","Zagazig, Ash Sharqiyah, Egypt","[AZ, Oyo State, Hachioji, Bellaterra, College ...","[Trinidad and Tobago, AZ, Oyo State, Hachioji,...","[DNA, Complementary, Software, Internet, Cell ..."
268,30514933,"[430798, 1613561, 8854724, 10677535, 10790339,...",-,"Baltimore, MD, USA,Würzburg, Germany","Baltimore, MD, USA,Kanazawa, Ishikawa, Japan,W...","[Finland, TX, North Billerica, Portugal, Ishik...","[Finland, North Billerica, China, Ishikawa, CT...","[Tissue Survival, Cardiomyopathies, Oxidative ..."

In [251]:
mesh_data=pd.read_excel("Merged_res.xlsx")
mesh_data=mesh_data.drop(['Unnamed: 0'], axis=1)
mesh_data

,Category,Name,Co-occur,Total Articles,Rate,Level,Merged
0,I,"Anthropology, Education, Sociology, and Social...",1516538,2954827,0.513241,A,I
1,K,Humanities,434315,849376,0.511334,A,K
2,N,Health Care,3313445,10388431,0.318955,B,N
3,F,Psychiatry and Psychology,1176954,4246883,0.277134,B,F
4,H,Disciplines and Occupations,1007407,3646994,0.276229,B,H
...,...,...,...,...,...,...,...
57968,B01.050.150.900.649.313.992.635.505.500.800.50...,"Mice, Knockout, ApoE",1,143,0.006993,D,B01.050.150.900.649.313.992.635.505
57969,B01.050.500.131.617.720.500.500.750.712.500.87...,Aedes,5495,13739,0.399956,B,B01.050.500.131.617.720.500.500.750.712.500.87...
57970,B01.050.500.131.617.720.500.500.750.712.500.87...,Anopheles,6384,12759,0.500353,A,B01.050.500.131.617.720.500.500.750.712.500.87...
57971,B01.050.500.131.617.720.500.500.750.712.500.87...,Culex,3465,7199,0.481317,B,B01.050.500.131.617.720.500.500.750.712.500.87...
57972,B01.050.500.131.617.720.500.500.750.712.500.87...,Ochlerotatus,133,226,0.588496,A,B01.050.500.131.617.720.500.500.750.712.500.87...

In [252]:
mesh_dict = {row['Name']: [row['Co-occur'], row['Total Articles'], row['Rate']] for index, row in mesh_data.iterrows()}
mesh_dict

{'Anthropology, Education, Sociology, and Social Phenomena': [1516538,
  2954827,
  0.5132408767078411],
 'Humanities': [434315, 849376, 0.5113342029913724],
 'Health Care': [3313445, 10388431, 0.3189552878581953],
 'Psychiatry and Psychology': [1176954, 4246883, 0.2771336059882036],
 'Disciplines and Occupations': [1007407, 3646994, 0.2762294097549927],
 'Technology, Industry, and Agriculture': [388202,
  1769328,
  0.2194064639230262],
 'Named Groups': [2046223, 9177176, 0.2229686997394405],
 'Information Science': [590771, 2847399, 0.2074774206214162],
 'Organisms': [3369483, 23153025, 0.1455310051278397],
 'Analytical, Diagnostic and Therapeutic Techniques, and Equipment': [2502559,
  17403090,
  0.1437996930430171],
 'Diseases': [1909422, 13948484, 0.1368910055028202],
 'Phenomena and Processes': [1429083, 13886302, 0.1029131441905844],
 'Chemicals and Drugs': [1060634, 13691898, 0.07746435154570973],
 'Anatomy': [16421, 385092, 0.04264175833307365],
 'Body Regions': [40211, 779695, 0.05157273036251354],
 'Musculoskeletal System': [48396, 1367589, 0.03538782485088722],
 'Digestive System': [41834, 1165425, 0.03589591779822811],
 'Respiratory System': [21505, 464695, 0.04627766599597585],
 'Urogenital System': [31647, 913464, 0.03464504348283019],
 'Endocrine System': [11052, 432273, 0.02556717629831148],
 'Cardiovascular System': [32715, 1182912, 0.02765632608342802],
 'Nervous System': [25858, 1776733, 0.01455367801464823],
 'Sense Organs': [13603, 460552, 0.02953629557574389],
 'Tissues': [47239, 1764337, 0.02677436340109628],
 'Cells': [78328, 4107569, 0.01906918666491056],
 'Fluids and Secretions': [63494, 667385, 0.09513848827887951],
 'Animal Structures': [15342, 239749, 0.06399192488811214],
 'Stomatognathic System': [23329, 392555, 0.05942861509852122],
 'Hemic and Immune Systems': [41135, 1438164, 0.02860244033364762],
 'Embryonic Structures': [18011, 416558, 0.04323767638600147],
 'Integumentary System': [12372, 244418, 0.05061820324198709],
 'Plant Structures': [40868, 259152, 0.1576989565969007],
 'Fungal Structures': [3172, 28919, 0.1096856737784847],
 'Bacterial Structures': [1343, 26699, 0.05030150941982846],
 'Viral Structures': [1054, 24474, 0.04306611097491215],
 'Eukaryota': [3341621, 22584851, 0.1479585143156357],
 'Archaea': [2298, 23577, 0.09746787123043645],
 'Bacteria': [157388, 1283006, 0.1226712891444],
 'Viruses': [113058, 736021, 0.1536070302341917],
 'Organism Forms': [32284, 207869, 0.1553093534870519],
 'Bacterial Infections and Mycoses': [297413, 1390445, 0.2138977090068288],
 'Virus Diseases': [275205, 867469, 0.3172505299901207],
 'Parasitic Diseases': [127051, 367513, 0.3457047777901734],
 'Neoplasms': [264765, 3112674, 0.08506030506246398],
 'Musculoskeletal Diseases': [80499, 1021976, 0.07876799455173115],
 'Digestive System Diseases': [172646, 1631922, 0.1057930464813882],
 'Stomatognathic Diseases': [53817, 497086, 0.1082649682348728],
 'Respiratory Tract Diseases': [170264, 1263222, 0.1347854929695651],
 'Otorhinolaryngologic Diseases': [36009, 352037, 0.1022875436388789],
 'Nervous System Diseases': [244641, 2346735, 0.1042473905234294],
 'Eye Diseases': [48325, 530415, 0.09110790607354619],
 'Male Urogenital Diseases': [118608, 1062698, 0.1116102599233272],
 'Female Urogenital Diseases and Pregnancy Complications': [200796,
  1523783,
  0.1317746687028271],
 'Cardiovascular Diseases': [240951, 2235750, 0.1077718886279772],
 'Hemic and Lymphatic Diseases': [73636, 859158, 0.08570716911208416],
 'Congenital, Hereditary, and Neonatal Diseases and Abnormalities': [117527,
  1147489,
  0.1024210253867357],
 'Skin and Connective Tissue Diseases': [128750, 1183558, 0.1087821636117537],
 'Nutritional and Metabolic Diseases': [187773, 1194767, 0.1571628610431992],
 'Endocrine System Diseases': [106786, 920024, 0.1160687112510108],
 'Immune System Diseases': [213073, 1395648, 0.1526695843077911],
 'Disorders of Environmental Origin': [1019, 2347, 0.4341712824882829],
 'Animal Diseases': [93823, 638631, 0.1469126929322253],
 'Pathological Conditions, Signs and Symptoms': [572756,
  5255196,
  0.1089885134636272],
 'Occupational Diseases': [48071, 126179, 0.380974647128286],
 'Chemically-Induced Disorders': [122573, 468291, 0.2617453677307486],
 'Wounds and Injuries': [115334, 851366, 0.135469351606712],
 'Inorganic Chemicals': [168849, 2688914, 0.06279449621668823],
 'Organic Chemicals': [212485, 4161112, 0.05106447507300933],
 'Heterocyclic Compounds': [139786, 2947002, 0.04743328983149655],
 'Polycyclic Compounds': [86529, 1509086, 0.05733868049932211],
 'Macromolecular Substances': [23896, 978584, 0.0244189563696116],
 'Hormones, Hormone Substitutes, and Hormone Antagonists': [11072,
  239119,
  0.04630330504895052],
 'Enzymes and Coenzymes': [99363, 2899349, 0.03427079665124826],
 'Carbohydrates': [65287, 1480618, 0.04409442543586529],
 'Lipids': [66666, 1103517, 0.06041229994644396],
 'Amino Acids, Peptides, and Proteins': [311252, 6709418, 0.04639031284084551],
 'Nucleic Acids, Nucleotides, and Nucleosides': [114029,
  1891583,
  0.06028231380806446],
 'Complex Mixtures': [167737, 922513, 0.1818261639673371],
 'Biological Factors': [172728, 3086864, 0.0559558179433885],
 'Biomedical and Dental Materials': [19946, 582653, 0.03423306839576901],
 'Pharmaceutical Preparations': [65235, 741117, 0.08802253895133967],
 'Chemical Actions and Uses': [433232, 4623499, 0.09370219394445635],
 'Diagnosis': [818903, 8026948, 0.1020192232464942],
 'Therapeutics': [662583, 4250317, 0.155890254773938],
 'Anesthesia and Analgesia': [14099, 222705, 0.06330796344940616],
 'Surgical Procedures, Operative': [269125, 2927230, 0.09193845376003935],
 'Investigative Techniques': [2104856, 13191826, 0.1595575927093035],
 'Dentistry': [25332, 80338, 0.3153177823694889],
 'Equipment and Supplies': [115323, 1361005, 0.08473370781150694],
 'Behavior and Behavior Mechanisms': [901586, 2673959, 0.3371727090804309],
 'Psychological Phenomena': [301686, 1708028, 0.1766282519958689],
 'Mental Disorders': [255828, 1145447, 0.22334337599208],
 'Behavioral Disciplines and Activities': [216712, 878868, 0.2465808289754548],
 'Physical Phenomena': [351536, 3361064, 0.1045906891389155],
 'Chemical Phenomena': [150261, 4430356, 0.03391623607673966],
 'Metabolism': [59257, 2201111, 0.02692140469063123],
 'Cell Physiological Phenomena': [35720, 2146388, 0.01664191190036471],
 'Genetic Phenomena': [282047, 3377138, 0.08351657527764633],
 'Microbiological Phenomena': [65618, 478262, 0.1372009484341219],
 'Physiological Phenomena': [460686, 4525112, 0.1018065409209761],
 'Reproductive and Urinary Physiological Phenomena': [241468,
  1393013,
  0.1733422444729518],
 'Circulatory and Respiratory Physiological Phenomena': [79595,
  1430047,
  0.05565900980876852],
 'Digestive System and Oral Physiological Phenomena': [14458,
  236665,
  0.06109057106035958],
 'Musculoskeletal and Neural Physiological Phenomena': [109635,
  1783737,
  0.06146365747865296],
 'Immune System Phenomena': [33206, 759369, 0.04372841135205677],
 'Integumentary System Physiological Phenomena': [3601,
  61104,
  0.05893231212359256],
 'Ocular Physiological Phenomena': [11335, 224063, 0.05058845056970585],
 'Plant Physiological Phenomena': [12850, 94710, 0.135677330799282],
 'Biological Phenomena': [347810, 1812591, 0.1918855384364151],
 'Mathematical Concepts': [184433, 915112, 0.2015414506639625],
 'Natural Science Disciplines': [454281, 2366794, 0.1919393914299259],
 'Health Occupations': [666228, 1608935, 0.4140801213224897],
 'Social Sciences': [7333, 15029, 0.4879233481934926],
 'Education': [415290, 755760, 0.5494998412194347],
 'Human Activities': [141481, 460940, 0.3069401657482536],
 'Food and Beverages': [114473, 606305, 0.1888043146601133],
 'Non-Medical Public and Private Facilities': [124386,
  203045,
  0.6126031175355217],
 'Persons': [2046223, 9177176, 0.2229686997394405],
 'Population Characteristics': [1012011, 1806649, 0.5601591676080966],
 'Health Care Facilities, Manpower, and Services': [1271645,
  2701525,
  0.4707137635224549],
 'Health Care Economics and Organizations': [1028432,
  1438266,
  0.7150499281774025],
 'Health Services Administration': [3503, 4366, 0.8023362345396243],
 'Health Care Quality, Access, and Evaluation': [2087723,
  6870480,
  0.3038685797789965],
 'Environment and Public Health': [2224955, 7815937, 0.2846690038571191],
 'Anatomic Landmarks': [249, 2623, 0.09492947007243614],
 'Breast': [2233, 43347, 0.05151452234295337],
 'Extremities': [18100, 320142, 0.05653741152363639],
 'Head': [10752, 199118, 0.05399813176106631],
 'Neck': [1363, 28651, 0.0475725105580957],
 'Organs at Risk': [111, 2483, 0.04470398711236408],
 'Perineum': [652, 9053, 0.07202032475422512],
 'Torso': [7381, 180764, 0.0408322453585891],
 'Transplant Donor Site': [23, 709, 0.03244005641748942],
 'Transplants': [961, 18555, 0.05179196981945567],
 'Trigger Points': [15, 403, 0.03722084367245657],
 'Viscera': [441, 7243, 0.06088637304984123],
 'Aponeurosis': [2, 58, 0.03448275862068965],
 'Cartilage': [843, 45898, 0.01836681336877424],
 'Fascia': [144, 7840, 0.01836734693877551],
 'Ligaments': [981, 37371, 0.02625030103556233],
 'Muscles': [11043, 556066, 0.01985915340984703],
 'Skeleton': [34160, 742375, 0.04601448055228153],
 'Tendons': [877, 39012, 0.02248026248333846],
 'Biliary Tract': [2258, 64221, 0.03515983868205104],
 'Gastrointestinal Tract': [24444, 617955, 0.03955627836978421],
 'Liver': [13001, 426408, 0.03048957805669687],
 'Pancreas': [3469, 121038, 0.0286604206943274],
 'Larynx': [1341, 38104, 0.03519315557421793],
 'Lung': [10077, 260377, 0.03870157502390764],
 'Nose': [1692, 22938, 0.07376405963902694],
 'Pharynx': [1676, 18220, 0.09198682766190999],
 'Pleura': [343, 9675, 0.03545219638242894],
 'Respiratory Mucosa': [1193, 33420, 0.03569718731298623],
 'Trachea': [874, 35608, 0.02454504605706583],
 'Genitalia': [20286, 525353, 0.03861403665725712],
 'Urinary Tract': [12060, 419781, 0.02872926597440094],
 'Chromaffin System': [32, 7146, 0.004478029666946544],
 'Enteroendocrine Cells': [556, 15238, 0.03648772804830031],
 'Endocrine Glands': [10391, 408480, 0.02543820994907951],
 'Neurosecretory Systems': [1224, 104993, 0.01165792005181298],
 'Blood-Air Barrier': [10, 494, 0.02024291497975709],
 'Blood-Aqueous Barrier': [1, 412, 0.002427184466019417],
 'Blood-Brain Barrier': [159, 25403, 0.006259103255521001],
 'Blood-Nerve Barrier': [0, 80, 0.0],
 'Blood-Retinal Barrier': [9, 1265, 0.007114624505928853],
 'Blood-Testis Barrier': [1, 554, 0.001805054151624549],
 'Blood Vessels': [19781, 709551, 0.027878193392723],
 'Glomerular Filtration Barrier': [9, 142, 0.06338028169014084],
 'Heart': [12806, 477796, 0.02680223358923055],
 'Central Nervous System': [18390, 1251224, 0.01469760810214638],
 'Ganglia': [212, 51171, 0.004142971605010651],
 'Nerve Net': [166, 27010, 0.006145871899296557],
 'Neural Pathways': [496, 105454, 0.004703472604168642],
 'Neuroglia': [380, 97485, 0.003898035595219777],
 'Neurons': [2888, 513912, 0.005619639160011831],
 'Peripheral Nervous System': [5798, 427310, 0.01356860358989961],
 'Synapses': [259, 82559, 0.003137150401531026],
 'Ear': [552, 9869, 0.05593271861384132],
 'Eye': [2087, 53028, 0.03935656634230972],
 'Taste Buds': [42, 3183, 0.01319509896324222],
 'Body Fluid Compartments': [67, 1191, 0.05625524769101595],
 'Connective Tissue': [14687, 322975, 0.04547410790308847],
 'Epithelium': [2973, 243802, 0.01219432162164379],
 'Exocrine Glands': [3273, 115071, 0.02844330891362724],
 'Lymphoid Tissue': [7006, 242127, 0.02893522820668492],
 'Membranes': [8116, 293953, 0.02760985599738734],
 'Nerve Tissue': [187, 25807, 0.007246096020459565],
 'Organoids': [44, 8564, 0.005137786081270434],
 'Parenchymal Tissue': [10, 196, 0.05102040816326531],
 'Peritoneal Stomata': [1, 14, 0.07142857142857142],
 'Margins of Excision': [163, 1053, 0.1547958214624881],
 'Surgically-Created Structures': [1666, 61343, 0.02715876302104559],
 'Acinar Cells': [9, 842, 0.01068883610451306],
 'Antibody-Producing Cells': [1327, 97480, 0.01361304883052934],
 'Antigen-Presenting Cells': [388, 56397, 0.006879798570845967],
 'Blood Cells': [22275, 914656, 0.02435341811566316],
 'Bone Marrow Cells': [2150, 172479, 0.01246528562897512],
 'Cells, Cultured': [15026, 1542102, 0.009743843143968428],
 'Cells, Immobilized': [32, 2545, 0.01257367387033399],
 'Cellular Structures': [25759, 1392607, 0.01849696289046371],
 'Chromaffin Cells': [6, 3470, 0.001729106628242075],
 'Connective Tissue Cells': [3633, 462913, 0.007848126969862588],
 'Endocrine Cells': [822, 51608, 0.01592776313749806],
 'Epithelial Cells': [6413, 498403, 0.01286709750944517],
 'Erythroid Cells': [6016, 157033, 0.0383104188291633],
 'Eukaryotic Cells': [140, 8396, 0.01667460695569319],
 'Germ Cells': [6123, 140100, 0.04370449678800856],
 'Giant Cells': [106, 5183, 0.02045147597916265],
 'Hepatic Stellate Cells': [9, 2712, 0.00331858407079646],
 'Mesophyll Cells': [22, 491, 0.04480651731160896],
 'Muscle Cells': [552, 74812, 0.007378495428540876],
 'Myeloid Cells': [4626, 329247, 0.01405024191564388],
 'Neoplastic Cells, Circulating': [168, 9338, 0.01799100449775112],
 'Oxyphil Cells': [6, 266, 0.02255639097744361],
 'Pancreatic Stellate Cells': [1, 302, 0.003311258278145695],
 'Pericytes': [8, 2239, 0.003573023671281822],
 'Phagocytes': [3376, 266768, 0.01265519102740958],
 'Plant Cells': [57, 5570, 0.01023339317773788],
 'Prokaryotic Cells': [98, 2651, 0.03696718219539796],
 'Protoplasts': [27, 5378, 0.00502045370026032],
 'Reed-Sternberg Cells': [30, 1078, 0.02782931354359926],
 'Spheroplasts': [8, 1430, 0.005594405594405594],
 'Spores': [4106, 31722, 0.1294369837967341],
 'Stem Cells': [3676, 192020, 0.01914383918341839],
 'Thymocytes': [4, 1094, 0.003656307129798903],
 'Amniotic Fluid': [535, 18354, 0.02914895935490901],
 'Bodily Secretions': [24119, 240685, 0.1002098178116625],
 'Body Fluids': [15163, 320155, 0.04736143430525839],
 'Exudates and Transudates': [403, 14547, 0.02770330652368186],
 'Feces': [24432, 90591, 0.2696956651322979],
 'Gastrointestinal Contents': [704, 3702, 0.1901674770394381],
 'Hyalin': [52, 2459, 0.0211468076453843],
 'Air Sacs': [137, 1212, 0.113036303630363],
 'Anal Sacs': [7, 165, 0.04242424242424243],
 'Animal Fins': [147, 765, 0.1921568627450981],
 'Animal Fur': [13, 41, 0.3170731707317073],
 'Animal Scales': [8, 53, 0.1509433962264151],
 'Animal Shells': [251, 976, 0.257172131147541],
 'Arthropod Antennae': [106, 1230, 0.08617886178861789],
 'Beak': [135, 782, 0.1726342710997442],
 'Bursa of Fabricius': [110, 2679, 0.04106009705113849],
 'Cloaca': [396, 2157, 0.1835883171070932],
 'Comb and Wattles': [12, 355, 0.03380281690140845],
 'Compound Eye, Arthropod': [17, 352, 0.04829545454545454],
 'Corpora Allata': [6, 426, 0.01408450704225352],
 'Crop, Avian': [33, 545, 0.06055045871559633],
 'Egg Shell': [236, 2112, 0.1117424242424242],
 'Electric Organ': [37, 3171, 0.01166824345632293],
 'Embryo, Nonmammalian': [1896, 88243, 0.02148612354521039],
 'Fat Body': [36, 1468, 0.02452316076294278],
 'Feathers': [917, 4104, 0.2234405458089669],
 'Forelimb': [919, 16311, 0.05634234565630556],
 'Ganglia, Invertebrate': [20, 2853, 0.007010164738871364],
 'Gills': [1872, 8510, 0.2199764982373678],
 'Gizzard, Non-avian': [6, 83, 0.07228915662650602],
 'Harderian Gland': [15, 808, 0.01856435643564356],
 'Head Kidney': [24, 403, 0.05955334987593052],
 'Hemolymph': [319, 5987, 0.05328211124102222],
 'Hepatopancreas': [175, 1074, 0.1629422718808194],
 'High Vocal Center': [0, 92, 0.0],
 'Hindlimb': [357, 23091, 0.01546056905287774],
 'Hoof and Claw': [339, 2527, 0.1341511673921646],
 'Horns': [177, 1207, 0.1466445733222867],
 'Imaginal Discs': [0, 317, 0.0],
 'Interrenal Gland': [4, 212, 0.01886792452830189],
 'Lateral Line System': [24, 425, 0.05647058823529412],
 'Malpighian Tubules': [20, 959, 0.02085505735140772],
 'Mammary Glands, Animal': [542, 18882, 0.02870458637856159],
 'Metrial Gland': [1, 152, 0.006578947368421052],
 'Mushroom Bodies': [2, 817, 0.002447980416156671],
 'Nematocyst': [13, 89, 0.1460674157303371],
 'Nictitating Membrane': [11, 1474, 0.007462686567164179],
 'Optic Lobe, Nonmammalian': [6, 1043, 0.005752636625119847],
 'Oviducts': [421, 15867, 0.0265330560282347],
 'Perianal Glands': [4, 118, 0.03389830508474576],
 'Photoreceptor Cells, Invertebrate': [36, 2624, 0.01371951219512195],
 'Salt Gland': [7, 612, 0.01143790849673203],
 'Scent Glands': [24, 341, 0.07038123167155426],
 'Stomach, Avian': [143, 2011, 0.07110890104425659],
 'Stomach, Ruminant': [723, 14818, 0.04879200971791065],
 'Tail': [329, 6534, 0.05035200489745945],
 'Ultimobranchial Body': [2, 268, 0.007462686567164179],
 'Vibrissae': [30, 2885, 0.01039861351819757],
 'Wool': [286, 2016, 0.1418650793650794],
 'Cheek': [261, 7309, 0.03570939937063894],
 'Facial Muscles': [186, 7123, 0.02611259300856381],
 'Jaw': [4825, 92939, 0.05191577271113311],
 'Masticatory Muscles': [267, 12548, 0.0212782913611731],
 'Mouth': [1993, 30736, 0.06484252993232692],
 'Temporomandibular Joint': [281, 11702, 0.02401298923260981],
 'Blood': [10153, 170347, 0.05960187147410873],
 'Hematopoietic System': [2218, 175625, 0.01262918149466192],
 'Immune System': [25167, 1095001, 0.02298354065430077],
 'Blastomeres': [43, 2508, 0.0171451355661882],
 'Branchial Region': [46, 1897, 0.0242488139167106],
 'Cleavage Stage, Ovum': [49, 2226, 0.0220125786163522],
 'Embryo, Mammalian': [3133, 90354, 0.03467472386391305],
 'Fetus': [8776, 152593, 0.05751246780651799],
 'Gastrula': [16, 3332, 0.004801920768307323],
 'Germ Layers': [100, 25157, 0.003975036769090114],
 'Gestational Sac': [13, 84, 0.1547619047619048],
 'Gubernaculum': [1, 10, 0.1],
 'Limb Buds': [4, 1131, 0.003536693191865605],
 'Mesonephros': [7, 681, 0.01027900146842878],
 'Morula': [8, 1199, 0.006672226855713094],
 'Mullerian Ducts': [93, 2375, 0.03915789473684211],
 'Neural Crest': [24, 5804, 0.004135079255685734],
 'Neural Plate': [0, 441, 0.0],
 'Neural Tube': [7, 758, 0.009234828496042216],
 'Notochord': [15, 1546, 0.009702457956015523],
 'Organizers, Embryonic': [11, 393, 0.02798982188295165],
 'Ovum': [3564, 75168, 0.04741379310344827],
 'Placenta': [1998, 63253, 0.03158743458808278],
 'Primitive Streak': [1, 131, 0.007633587786259542],
 'Pronephros': [24, 503, 0.04771371769383698],
 'Urachus': [9, 1097, 0.008204193254329991],
 'Vitelline Duct': [8, 371, 0.0215633423180593],
 'Wolffian Ducts': [8, 693, 0.01154401154401154],
 'Zygote': [207, 5425, 0.03815668202764977],
 'Hair': [4074, 33116, 0.1230221041188549],
 'Nails': [747, 7551, 0.09892729439809297],
 'Skin': [8035, 213586, 0.03761950689651943],
 'Chromosomes, Plant': [473, 7382, 0.06407477648333784],
 'Plant Components, Aerial': [33235, 203714, 0.1631453901057365],
 'Plant Roots': [6327, 55820, 0.1133464707989968],
 'Plant Vascular Bundle': [2714, 12868, 0.2109107864470003],
 'Seedlings': [1147, 11089, 0.1034358373162594],
 'Sporangia': [21, 88, 0.2386363636363636],
 'Chromosomes, Fungal': [76, 6953, 0.01093053358262621],
 'Fruiting Bodies, Fungal': [1872, 12985, 0.1441663457835965],
 'Fungal Capsules': [1, 38, 0.02631578947368421],
 'Mycelium': [409, 6165, 0.06634225466342254],
 'Mycorrhizae': [1117, 4792, 0.2330968280467446],
 'Bacterial Capsules': [631, 3954, 0.1595852301466869],
 'Bacterial Chromatophores': [1, 785, 0.001273885350318471],
 'Chromosomes, Bacterial': [489, 15013, 0.03257177113168587],
 'Fimbriae, Bacterial': [178, 6007, 0.02963209588813051],
 'Magnetosomes': [29, 247, 0.1174089068825911],
 'Pili, Sex': [8, 173, 0.04624277456647399],
 'Purple Membrane': [2, 321, 0.006230529595015576],
 'Ribosome Subunits, Large, Bacterial': [2, 180, 0.01111111111111111],
 'Ribosome Subunits, Small, Bacterial': [7, 250, 0.028],
 'Virion': [1053, 24436, 0.04309215910951056],
 'Alveolata': [24323, 95391, 0.2549821261963917],
 'Amoebozoa': [2325, 23644, 0.09833361529352055],
 'Animals': [3277546, 21966027, 0.1492097774440503],

In [253]:
def get_top_three_rates(mesh_terms_str):
    mesh_terms = mesh_terms_str.split('|')
    rates = [mesh_dict.get(term, [None, None, None])[2] for term in mesh_terms if term in mesh_dict]
    top_three_rates = sorted(filter(None, rates), reverse=True)[:3]
    last_three_rates = sorted(filter(None, rates), reverse=False)[:3]
    top_three_rates += [0] * (3 - len(top_three_rates))
    last_three_rates += [0] * (3 - len(last_three_rates))
    return top_three_rates+last_three_rates

top_rates_df = result_df['mesh'].apply(get_top_three_rates).apply(pd.Series)
top_rates_df.columns = ['mesh_rate_top1', 'mesh_rate_top2', 'mesh_rate_top3','mesh_rate_last1', 'mesh_rate_last2', 'mesh_rate_last3']

top_rates_df['PMID'] = result_df['PMID']
top_rates_df.set_index('PMID', inplace=True)

In [254]:
top_rates_df['PMID'] = result_df['PMID']
top_rates_df.reset_index(drop=True, inplace=True)
top_rates_df

,mesh_rate_top1,mesh_rate_top2,mesh_rate_top3,mesh_rate_last1,mesh_rate_last2,mesh_rate_last3,PMID
0,0.531818,0.525750,0.363305,0.173560,0.180219,0.191754,NaN
1,0.185198,0.149210,0.148166,0.001764,0.006196,0.006313,NaN
2,0.721929,0.535286,0.498188,0.038730,0.107591,0.132066,NaN
3,0.149210,0.037437,0.022442,0.001632,0.002277,0.002976,NaN
4,0.714289,0.671209,0.509773,0.173560,0.213041,0.260264,NaN
...,...,...,...,...,...,...,...
264,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
265,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
266,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
267,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
268,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN

In [255]:
result_df["mesh_rate_top1"]=top_rates_df["mesh_rate_top1"]
result_df["mesh_rate_top2"]=top_rates_df["mesh_rate_top2"]
result_df["mesh_rate_top3"]=top_rates_df["mesh_rate_top3"]
result_df["mesh_rate_last1"]=top_rates_df["mesh_rate_last1"]
result_df["mesh_rate_last2"]=top_rates_df["mesh_rate_last2"]
result_df["mesh_rate_last3"]=top_rates_df["mesh_rate_last3"]

In [256]:
result_df

,PMID,cited_PMID,mesh,unique_city,unique_tempocity,cited_unique_city,cited_unique_tempocity,cited_mesh,mesh_rate_top1,mesh_rate_top2,mesh_rate_top3,mesh_rate_last1,mesh_rate_last2,mesh_rate_last3
0,24393089,"[1393709, 2487128, 6684981, 7555215, 8958452, ...","Adult|Anomie|Child|Child Abuse, Sexual|Crime V...","Orlando, FL, USA","Louisville, KY, USA,Orlando, FL, USA","[OK, WA, Tacoma, Los Angeles, Baltimore, Cleve...","[Seattle, TX, Charleston, Austin, Los Angeles,...","[Incidence, Poverty, Social Values, Choice Beh...",0.531818,0.525750,0.363305,0.173560,0.180219,0.191754
1,24399715,"[2149639, 2530095, 5064045, 7589207, 7613632, ...","Animals|Antiparkinson Agents|Behavior, Animal|...","Krakow, Poland","Krakow, Poland","[Yantai, London, China, Indianapolis, TN, Krak...","[Yantai, Aachen, London, China, Indianapolis, ...","[Aminobutyrates, 2-Amino-5-phosphonovalerate, ...",0.185198,0.149210,0.148166,0.001764,0.006196,0.006313
2,24421179,"[11000103, 11841668, 12481133, 12651368, 16043...",Carbon Sequestration|Forests|Indiana|Magnoliop...,"Bloomington, IN, USA","Bloomington, IN, USA,Garmisch-Partenkirchen, G...","[Fort Wainwright, Finland, AZ, China, Tucson, ...","[Fort Wainwright, Finland, AZ, KS, China, Tucs...","[Plant Leaves, Plant Roots, Biodegradation, En...",0.721929,0.535286,0.498188,0.038730,0.107591,0.132066
3,24453941,"[196284, 6294151, 7580127, 7931533, 8734579, 9...",Animals|Cell Proliferation|GTP-Binding Protein...,"Braunschweig, Germany,Muttenz, Basel, Switzerl...","Braunschweig, Germany,Dallas, TX, USA,Heidelbe...","[Ishikawa, Suita, CT, DC, USA, Oxford, Kanazaw...","[China, Ishikawa, Suita, CT, East Hanover, DC,...","[GTP-Binding Proteins, Myelin-Oligodendrocyte ...",0.149210,0.037437,0.022442,0.001632,0.002277,0.002976
4,24494939,"[1531583, 2021661, 2738307, 3205267, 7560708, ...",Accidental Falls|Aged|Body Mass Index|Female|H...,"NSW, Australia","Sydney, NSW, Australia","[Finland, Oklahoma City, China, TN, NY, Westwo...","[Queenstown, Finland, London, Oklahoma City, C...","[Finland, Morbidity, China, Reproducibility of...",0.714289,0.671209,0.509773,0.173560,0.213041,0.260264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,30440893,"[8724468, 21624928, 23410655, 23453041, 25014975]",-,-,"Jinan, Shandong, China,Zhengzhou, China,nan","[Shanghai, China, Louisville, Southampton, Cle...","[Shanghai, China, Louisville, Southampton, Cle...","[Neurologic Examination, Age Factors, Artifici...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
265,30452750,"[7573622, 12142772, 12171751, 12668754, 162388...",-,"Tucson, AZ, USA","Tucson, AZ, USA","[Denver, Seattle, London, AZ, Afula, Tucson, P...","[Denver, Seattle, AZ, Tucson, SD, DC, Los Ange...","[Health Planning, Bioterrorism, Morbidity, Sma...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
266,30466303,"[15916493, 17588200, 19532050, 20624319, 21226...",-,"Burnaby, BC, Canada,Kelowna, BC, Canada,New Yo...","Burnaby, BC, Canada,New York, NY, USA,San Dieg...","[Seattle, Boulogne-Billancourt, Seoul, Anderle...","[Seattle, Boulogne-Billancourt, Seoul, Anderle...","[Acquired Immunodeficiency Syndrome, Adolescen...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
267,30468343,"[2539074, 2831868, 3014441, 4989111, 8126466, ...",-,"Zagazig, Ash Sharqiyah, Egypt","Zagazig, Ash Sharqiyah, Egypt","[AZ, Oyo State, Hachioji, Bellaterra, College ...","[Trinidad and Tobago, AZ, Oyo State, Hachioji,...","[DNA, Complementary, Software, Internet, Cell ...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
268,30514933,"[430798, 1613561, 8854724, 10677535, 10790339,...",-,"Baltimore, MD, USA,Würzburg, Germany","Baltimore, MD, USA,Kanazawa, Ishikawa, Japan,W...","[Finland, TX, North Billerica, Portugal, Ishik...","[Finland, North Billerica, China, Ishikawa, CT...","[Tissue Survival, Cardiomyopathies, Oxidative ...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [257]:
def get_top_three_rates(mesh_terms_str):
    rates = [mesh_dict.get(term, [None, None, None])[2] for term in mesh_terms_str if term in mesh_dict]
    top_three_rates = sorted(filter(None, rates), reverse=True)[:3]
    last_three_rates = sorted(filter(None, rates), reverse=False)[:3]
    top_three_rates += [0] * (3 - len(top_three_rates))
    last_three_rates += [0] * (3 - len(last_three_rates))
    return top_three_rates+last_three_rates
top_rates_df = result_df['cited_mesh'].apply(get_top_three_rates).apply(pd.Series)
top_rates_df.columns = ['mesh_rate_top1', 'mesh_rate_top2', 'mesh_rate_top3','mesh_rate_last1', 'mesh_rate_last2', 'mesh_rate_last3']

top_rates_df['PMID'] = result_df['PMID']
top_rates_df.set_index('PMID', inplace=True)

In [258]:
top_rates_df

,mesh_rate_top1,mesh_rate_top2,mesh_rate_top3,mesh_rate_last1,mesh_rate_last2,mesh_rate_last3
PMID,,,,,,
24393089,0.813858,0.790030,0.767261,0.159991,0.173560,0.180219
24399715,0.366690,0.321386,0.273190,0.000298,0.000491,0.000541
24421179,0.846343,0.799674,0.758853,0.023121,0.033252,0.038730
24453941,0.334208,0.323964,0.302358,0.000168,0.000391,0.000491
24494939,0.848975,0.813858,0.747266,0.019859,0.021348,0.021639
...,...,...,...,...,...,...
30440893,0.455995,0.355821,0.345359,0.007634,0.019820,0.019892
30452750,0.989217,0.988655,0.954903,0.041012,0.050926,0.051572
30466303,0.827269,0.810378,0.802336,0.012062,0.067450,0.089694
30468343,0.753086,0.723531,0.707403,0.004567,0.009744,0.010912
30514933,0.943242,0.855950,0.813858,0.001106,0.002911,0.003283

In [259]:
top_rates_df.rename(columns={'mesh_rate_top1': 'cited_mesh_rate_top1'}, inplace=True)
top_rates_df.rename(columns={'mesh_rate_top2': 'cited_mesh_rate_top2'}, inplace=True)
top_rates_df.rename(columns={'mesh_rate_top3': 'cited_mesh_rate_top3'}, inplace=True)
top_rates_df.rename(columns={'mesh_rate_last1': 'cited_mesh_rate_last1'}, inplace=True)
top_rates_df.rename(columns={'mesh_rate_last2': 'cited_mesh_rate_last2'}, inplace=True)
top_rates_df.rename(columns={'mesh_rate_last3': 'cited_mesh_rate_last3'}, inplace=True)

In [260]:
result_df["cited_mesh_rate_top1"]=top_rates_df["cited_mesh_rate_top1"]
result_df["cited_mesh_rate_top2"]=top_rates_df["cited_mesh_rate_top2"]
result_df["cited_mesh_rate_top3"]=top_rates_df["cited_mesh_rate_top3"]
result_df["cited_mesh_rate_last1"]=top_rates_df["cited_mesh_rate_last1"]
result_df["cited_mesh_rate_last2"]=top_rates_df["cited_mesh_rate_last2"]
result_df["cited_mesh_rate_last3"]=top_rates_df["cited_mesh_rate_last3"]

In [261]:
data0.columns

Index(['PMID', 'total_sentences', 'sentence_order', 'sentences', 'candidate',
       'tagged_sentences', 'category', 'cand_length', 'cand_cap_num',
       'cand_cap_ratio', 'cand_has_num', 'cand_has_punc', 'cand_capitalized',
       'cand_words', 'cand_etal', 'comma_before', 'comma_after',
       'parentheses_before', 'parentheses_after', 'year_before', 'year_after',
       'etal_before', 'etal_after', 'cand_pos', 'og_mapaffil_res',
       'MapAffil_dict_matched', 'mapstand_state_list', 'rigion_list',
       'mapstand_country_list', 'lastname_freq', 'firstname_freq',
       'affiliation_freq', 'title_freq', 'abstract_freq',
       'lastname_freq_log10', 'firstname_freq_log10', 'affiliation_freq_log10',
       'title_freq_log10', 'abstract_freq_log10', 'cited_PMID', 'mesh',
       'unique_city', 'cited_unique_city', 'cited_unique_tempocity',
       'cited_mesh', 'mesh_rate_top1', 'mesh_rate_top2', 'mesh_rate_top3',
       'mesh_rate_last1', 'mesh_rate_last2', 'mesh_rate_last3',
       'cited_mesh_rate_top1', 'cited_mesh_rate_top2', 'cited_mesh_rate_top3',
       'cited_mesh_rate_last1', 'cited_mesh_rate_last2',
       'cited_mesh_rate_last3'],
      dtype='object')

In [262]:
result_df['cited_mesh_rate_top1'].fillna(value=0, inplace=True)
result_df['cited_mesh_rate_top2'].fillna(value=0, inplace=True)
result_df['cited_mesh_rate_top3'].fillna(value=0, inplace=True)
result_df['cited_mesh_rate_last1'].fillna(value=0, inplace=True)
result_df['cited_mesh_rate_last2'].fillna(value=0, inplace=True)
result_df['cited_mesh_rate_last3'].fillna(value=0, inplace=True)

In [263]:
result_df.isna().any()

PMID                      False
cited_PMID                False
mesh                      False
unique_city               False
unique_tempocity          False
cited_unique_city         False
cited_unique_tempocity    False
cited_mesh                False
mesh_rate_top1            False
mesh_rate_top2            False
mesh_rate_top3            False
mesh_rate_last1           False
mesh_rate_last2           False
mesh_rate_last3           False
cited_mesh_rate_top1      False
cited_mesh_rate_top2      False
cited_mesh_rate_top3      False
cited_mesh_rate_last1     False
cited_mesh_rate_last2     False
cited_mesh_rate_last3     False
dtype: bool

In [303]:
data0=pd.read_csv("golden_self.tsv",sep="\t")

In [304]:
start_time = time.time()

data0 = pd.merge(data0, result_df, on='PMID', how='left')
end_time = time.time()
print(f"Processing time：{end_time - start_time} seconds")

Processing time：0.0039997100830078125 seconds

In [305]:
data0.isna().any()

PMID                      False
total_sentences           False
sentence_order            False
sentences                 False
candidate                 False
tagged_sentences          False
category                  False
cand_length               False
cand_cap_num              False
cand_cap_ratio            False
cand_has_num              False
cand_has_punc             False
cand_capitalized          False
cand_words                False
cand_etal                 False
comma_before              False
comma_after               False
parentheses_before        False
parentheses_after         False
year_before               False
year_after                False
etal_before               False
etal_after                False
cand_pos                  False
og_mapaffil_res           False
MapAffil_dict_matched     False
mapstand_state_list       False
rigion_list               False
mapstand_country_list     False
lastname_freq             False
firstname_freq            False
affiliation_freq          False
title_freq                False
abstract_freq             False
lastname_freq_log10       False
firstname_freq_log10      False
affiliation_freq_log10    False
title_freq_log10          False
abstract_freq_log10       False
cited_PMID                 True
mesh                       True
unique_city                True
unique_tempocity           True
cited_unique_city          True
cited_unique_tempocity     True
cited_mesh                 True
mesh_rate_top1             True
mesh_rate_top2             True
mesh_rate_top3             True
mesh_rate_last1            True
mesh_rate_last2            True
mesh_rate_last3            True
cited_mesh_rate_top1       True
cited_mesh_rate_top2       True
cited_mesh_rate_top3       True
cited_mesh_rate_last1      True
cited_mesh_rate_last2      True
cited_mesh_rate_last3      True
dtype: bool

In [306]:
data0['cited_PMID'].fillna(value='-', inplace=True)
data0['mesh'].fillna(value='-', inplace=True)
data0['unique_city'].fillna(value='[]', inplace=True)
data0['unique_tempocity'].fillna(value='[]', inplace=True)
data0['cited_unique_city'].fillna(value='[]', inplace=True)
data0['cited_unique_tempocity'].fillna(value='[]', inplace=True)
data0['cited_mesh'].fillna(value='[]', inplace=True)
data0['mesh_rate_top1'].fillna(value=0, inplace=True)
data0['mesh_rate_top2'].fillna(value=0, inplace=True)
data0['mesh_rate_top3'].fillna(value=0, inplace=True)
data0['mesh_rate_last1'].fillna(value=0, inplace=True)
data0['mesh_rate_last2'].fillna(value=0, inplace=True)
data0['mesh_rate_last3'].fillna(value=0, inplace=True)
data0['cited_mesh_rate_top1'].fillna(value=0, inplace=True)
data0['cited_mesh_rate_top2'].fillna(value=0, inplace=True)
data0['cited_mesh_rate_top3'].fillna(value=0, inplace=True)
data0['cited_mesh_rate_last1'].fillna(value=0, inplace=True)
data0['cited_mesh_rate_last2'].fillna(value=0, inplace=True)
data0['cited_mesh_rate_last3'].fillna(value=0, inplace=True)

In [307]:
data0.columns

Index(['PMID', 'total_sentences', 'sentence_order', 'sentences', 'candidate',
       'tagged_sentences', 'category', 'cand_length', 'cand_cap_num',
       'cand_cap_ratio', 'cand_has_num', 'cand_has_punc', 'cand_capitalized',
       'cand_words', 'cand_etal', 'comma_before', 'comma_after',
       'parentheses_before', 'parentheses_after', 'year_before', 'year_after',
       'etal_before', 'etal_after', 'cand_pos', 'og_mapaffil_res',
       'MapAffil_dict_matched', 'mapstand_state_list', 'rigion_list',
       'mapstand_country_list', 'lastname_freq', 'firstname_freq',
       'affiliation_freq', 'title_freq', 'abstract_freq',
       'lastname_freq_log10', 'firstname_freq_log10', 'affiliation_freq_log10',
       'title_freq_log10', 'abstract_freq_log10', 'cited_PMID', 'mesh',
       'unique_city', 'unique_tempocity', 'cited_unique_city',
       'cited_unique_tempocity', 'cited_mesh', 'mesh_rate_top1',
       'mesh_rate_top2', 'mesh_rate_top3', 'mesh_rate_last1',
       'mesh_rate_last2', 'mesh_rate_last3', 'cited_mesh_rate_top1',
       'cited_mesh_rate_top2', 'cited_mesh_rate_top3', 'cited_mesh_rate_last1',
       'cited_mesh_rate_last2', 'cited_mesh_rate_last3'],
      dtype='object')

In [308]:
data0["mapstand_country_list"][0][0]

'['

In [309]:
data0['og_mapaffil_res'] = data0['og_mapaffil_res'].apply(ast.literal_eval)
data0['mapstand_state_list'] = data0['mapstand_state_list'].apply(ast.literal_eval)
data0['rigion_list'] = data0['rigion_list'].apply(ast.literal_eval)
data0['mapstand_country_list'] = data0['mapstand_country_list'].apply(ast.literal_eval)

In [310]:
cand_in_mesh,cand_in_affil,mapcity_in_mesh,mapcity_in_affil,mapstate_in_mesh,mapstate_in_affil,mapcountry_in_mesh,mapcountry_in_affil=[],[],[],[],[],[],[],[]
stanstate_in_mesh,stancountry_in_mesh,stanregion_in_mesh=[],[],[]
# mapstand_state_list,mapstand_country_list,rigion_list
count=0
for i in range(len(data0["candidate"])):
    if i%45000==0:
        print(i,datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
    flagc,flags,flagr=False,False,False
    for s in data0["mapstand_state_list"][i]:
        if len(s)>0 and (not flags):
#             print(type(s),s,merged_df["mesh"][i])
            if s in data0["mesh"][i]: flags=True
    for c in data0["mapstand_country_list"][i]:  
        if len(c)>0 and (not flagc):
            if c in data0["mesh"][i]: flagc=True
    for r in data0["rigion_list"][i]:
        if len(r)>0 and (not flagr):
            if r in data0["mesh"][i]: flagr=True
    if flags:stanstate_in_mesh.append(1)
    else:stanstate_in_mesh.append(0)
    if flagc:stancountry_in_mesh.append(1)
    else:stancountry_in_mesh.append(0)
    if flagr:stanregion_in_mesh.append(1)
    else:stanregion_in_mesh.append(0)
    
    
    flag1,flag2,flag3,flag4,flag5,flag6=False,False,False,False,False,False
#     if i%2410==0: print(i)
    if data0["candidate"][i] in data0["mesh"][i]: cand_in_mesh.append(1)
    else: cand_in_mesh.append(0)
    if (data0["candidate"][i] in data0["unique_city"][i]) or (data0["candidate"][i] in data0["unique_tempocity"][i]): cand_in_affil.append(1)
    else: cand_in_affil.append(0)
    if len(data0['og_mapaffil_res'][i])==0:
        mapcity_in_mesh.append(0)
        mapcity_in_affil.append(0)
        mapstate_in_mesh.append(0)
        mapstate_in_affil.append(0)
        mapcountry_in_mesh.append(0)
        mapcountry_in_affil.append(0)
    else:
        for res in data0['og_mapaffil_res'][i]:
            for j in range(1,4):
                if j==1:
                    if len(res[j])>0 and not flag1:
                        if res[j] in data0["mesh"][i]:flag1=True   
                    if len(res[j])>0 and not flag2:
                        if (res[j] in data0["unique_city"][i]) or (res[j] in data0["unique_tempocity"][i]):flag2=True        

                if j==2:
                    if len(res[j])>0 and not flag3:
                        if res[j] in data0["mesh"][i]:flag3=True   
                    if len(res[j])>0 and not flag4:
                        if (res[j] in data0["unique_city"][i]) or (res[j] in data0["unique_tempocity"][i]):flag4=True   

                if j==3:
                    if len(res[j])>0 and not flag5:
                        if res[j] in data0["mesh"][i]:flag5=True  
                    if len(res[j])>0 and not flag6:        
                        if (res[j] in data0["unique_city"][i]) or (res[j] in data0["unique_tempocity"][i]):flag6=True  

        if flag1:mapcity_in_mesh.append(1)
        else:mapcity_in_mesh.append(0)
        if flag2:mapcity_in_affil.append(1)
        else:mapcity_in_affil.append(0)
        if flag3:mapstate_in_mesh.append(1)
        else:mapstate_in_mesh.append(0)
        if flag4:mapstate_in_affil.append(1)
        else:mapstate_in_affil.append(0)
        if flag5:mapcountry_in_mesh.append(1)
        else:mapcountry_in_mesh.append(0)
        if flag6:mapcountry_in_affil.append(1)
        else:mapcountry_in_affil.append(0)

0 2024-05-02 13:05:03

In [311]:
data0["cand_in_mesh"]=cand_in_mesh
data0["cand_in_affil"]=cand_in_affil
data0["mapcity_in_mesh"]=mapcity_in_mesh
data0["mapcity_in_affil"]=mapcity_in_affil
data0["mapstate_in_mesh"]=mapstate_in_mesh
data0["mapstate_in_affil"]=mapstate_in_affil
data0["mapcountry_in_mesh"]=mapcountry_in_mesh
data0["mapcountry_in_affil"]=mapcountry_in_affil

In [312]:
data0["stanstate_in_mesh"]=stanstate_in_mesh
data0["stancountry_in_mesh"]=stancountry_in_mesh
data0["stanregion_in_mesh"]=stanregion_in_mesh

In [313]:
data0.columns

Index(['PMID', 'total_sentences', 'sentence_order', 'sentences', 'candidate',
       'tagged_sentences', 'category', 'cand_length', 'cand_cap_num',
       'cand_cap_ratio', 'cand_has_num', 'cand_has_punc', 'cand_capitalized',
       'cand_words', 'cand_etal', 'comma_before', 'comma_after',
       'parentheses_before', 'parentheses_after', 'year_before', 'year_after',
       'etal_before', 'etal_after', 'cand_pos', 'og_mapaffil_res',
       'MapAffil_dict_matched', 'mapstand_state_list', 'rigion_list',
       'mapstand_country_list', 'lastname_freq', 'firstname_freq',
       'affiliation_freq', 'title_freq', 'abstract_freq',
       'lastname_freq_log10', 'firstname_freq_log10', 'affiliation_freq_log10',
       'title_freq_log10', 'abstract_freq_log10', 'cited_PMID', 'mesh',
       'unique_city', 'unique_tempocity', 'cited_unique_city',
       'cited_unique_tempocity', 'cited_mesh', 'mesh_rate_top1',
       'mesh_rate_top2', 'mesh_rate_top3', 'mesh_rate_last1',
       'mesh_rate_last2', 'mesh_rate_last3', 'cited_mesh_rate_top1',
       'cited_mesh_rate_top2', 'cited_mesh_rate_top3', 'cited_mesh_rate_last1',
       'cited_mesh_rate_last2', 'cited_mesh_rate_last3', 'cand_in_mesh',
       'cand_in_affil', 'mapcity_in_mesh', 'mapcity_in_affil',
       'mapstate_in_mesh', 'mapstate_in_affil', 'mapcountry_in_mesh',
       'mapcountry_in_affil', 'stanstate_in_mesh', 'stancountry_in_mesh',
       'stanregion_in_mesh'],
      dtype='object')

In [314]:
cand_in_mesh,cand_in_affil,mapcity_in_mesh,mapcity_in_affil,mapstate_in_mesh,mapstate_in_affil,mapcountry_in_mesh,mapcountry_in_affil=[],[],[],[],[],[],[],[]
stanstate_in_mesh,stancountry_in_mesh,stanregion_in_mesh=[],[],[]
# mapstand_state_list,mapstand_country_list,rigion_list
count=0
for i in range(len(data0["candidate"])):
    if i%46672==0:
        print(i,datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
    flagc,flags,flagr=False,False,False
    for s in data0["mapstand_state_list"][i]:
        if len(s)>0 and (not flags):
#             print(type(s),s,merged_df["mesh"][i])
            if s in data0["cited_mesh"][i]: flags=True
    for c in data0["mapstand_country_list"][i]:  
        if len(c)>0 and (not flagc):
            if c in data0["cited_mesh"][i]: flagc=True
    for r in data0["rigion_list"][i]:
        if len(r)>0 and (not flagr):
            if r in data0["cited_mesh"][i]: flagr=True
    if flags:stanstate_in_mesh.append(1)
    else:stanstate_in_mesh.append(0)
    if flagc:stancountry_in_mesh.append(1)
    else:stancountry_in_mesh.append(0)
    if flagr:stanregion_in_mesh.append(1)
    else:stanregion_in_mesh.append(0)
    
    
    flag1,flag2,flag3,flag4,flag5,flag6=False,False,False,False,False,False
#     if i%2410==0: print(i)
    if data0["candidate"][i] in data0["cited_mesh"][i]: cand_in_mesh.append(1)
    else: cand_in_mesh.append(0)
    if data0["candidate"][i] in data0["cited_unique_tempocity"][i]: cand_in_affil.append(1)
    else: cand_in_affil.append(0)
    if len(data0['og_mapaffil_res'][i])==0:
        mapcity_in_mesh.append(0)
        mapcity_in_affil.append(0)
        mapstate_in_mesh.append(0)
        mapstate_in_affil.append(0)
        mapcountry_in_mesh.append(0)
        mapcountry_in_affil.append(0)
    else:
        for res in data0['og_mapaffil_res'][i]:
            for j in range(1,4):
                if j==1:
                    if len(res[j])>0 and not flag1:
                        if res[j] in data0["cited_mesh"][i]:flag1=True   
                    if len(res[j])>0 and not flag2:
                        if res[j] in data0["cited_unique_tempocity"][i]:flag2=True        

                if j==2:
                    if len(res[j])>0 and not flag3:
                        if res[j] in data0["cited_mesh"][i]:flag3=True   
                    if len(res[j])>0 and not flag4:
                        if res[j] in data0["cited_unique_tempocity"][i]:flag4=True   

                if j==3:
                    if len(res[j])>0 and not flag5:
                        if res[j] in data0["cited_mesh"][i]:flag5=True  
                    if len(res[j])>0 and not flag6:        
                        if res[j] in data0["cited_unique_tempocity"][i]:flag6=True  

        if flag1:mapcity_in_mesh.append(1)
        else:mapcity_in_mesh.append(0)
        if flag2:mapcity_in_affil.append(1)
        else:mapcity_in_affil.append(0)
        if flag3:mapstate_in_mesh.append(1)
        else:mapstate_in_mesh.append(0)
        if flag4:mapstate_in_affil.append(1)
        else:mapstate_in_affil.append(0)
        if flag5:mapcountry_in_mesh.append(1)
        else:mapcountry_in_mesh.append(0)
        if flag6:mapcountry_in_affil.append(1)
        else:mapcountry_in_affil.append(0)

0 2024-05-02 13:05:13

In [315]:
data0["cand_in_cited_mesh"]=cand_in_mesh
data0["cand_in_cited_affil"]=cand_in_affil
data0["mapcity_in_cited_mesh"]=mapcity_in_mesh
data0["mapcity_in_cited_affil"]=mapcity_in_affil
data0["mapstate_in_cited_mesh"]=mapstate_in_mesh
data0["mapstate_in_cited_affil"]=mapstate_in_affil
data0["mapcountry_in_cited_mesh"]=mapcountry_in_mesh
data0["mapcountry_in_cited_affil"]=mapcountry_in_affil
data0["stanstate_in_cited_mesh"]=stanstate_in_mesh
data0["stancountry_in_cited_mesh"]=stancountry_in_mesh
data0["stanregion_in_cited_mesh"]=stanregion_in_mesh

In [316]:
data0.columns

Index(['PMID', 'total_sentences', 'sentence_order', 'sentences', 'candidate',
       'tagged_sentences', 'category', 'cand_length', 'cand_cap_num',
       'cand_cap_ratio', 'cand_has_num', 'cand_has_punc', 'cand_capitalized',
       'cand_words', 'cand_etal', 'comma_before', 'comma_after',
       'parentheses_before', 'parentheses_after', 'year_before', 'year_after',
       'etal_before', 'etal_after', 'cand_pos', 'og_mapaffil_res',
       'MapAffil_dict_matched', 'mapstand_state_list', 'rigion_list',
       'mapstand_country_list', 'lastname_freq', 'firstname_freq',
       'affiliation_freq', 'title_freq', 'abstract_freq',
       'lastname_freq_log10', 'firstname_freq_log10', 'affiliation_freq_log10',
       'title_freq_log10', 'abstract_freq_log10', 'cited_PMID', 'mesh',
       'unique_city', 'unique_tempocity', 'cited_unique_city',
       'cited_unique_tempocity', 'cited_mesh', 'mesh_rate_top1',
       'mesh_rate_top2', 'mesh_rate_top3', 'mesh_rate_last1',
       'mesh_rate_last2', 'mesh_rate_last3', 'cited_mesh_rate_top1',
       'cited_mesh_rate_top2', 'cited_mesh_rate_top3', 'cited_mesh_rate_last1',
       'cited_mesh_rate_last2', 'cited_mesh_rate_last3', 'cand_in_mesh',
       'cand_in_affil', 'mapcity_in_mesh', 'mapcity_in_affil',
       'mapstate_in_mesh', 'mapstate_in_affil', 'mapcountry_in_mesh',
       'mapcountry_in_affil', 'stanstate_in_mesh', 'stancountry_in_mesh',
       'stanregion_in_mesh', 'cand_in_cited_mesh', 'cand_in_cited_affil',
       'mapcity_in_cited_mesh', 'mapcity_in_cited_affil',
       'mapstate_in_cited_mesh', 'mapstate_in_cited_affil',
       'mapcountry_in_cited_mesh', 'mapcountry_in_cited_affil',
       'stanstate_in_cited_mesh', 'stancountry_in_cited_mesh',
       'stanregion_in_cited_mesh'],
      dtype='object')

In [317]:
data0.to_csv("golden_engi_self_cited_all.tsv",sep='\t',index=False)

In [318]:
data0=data0.drop(['sentences','cited_PMID','og_mapaffil_res','unique_city','unique_tempocity','mapstand_state_list','mapstand_country_list','rigion_list','mesh','candidate','cited_unique_tempocity', 'cited_mesh'], axis=1)

In [319]:
data0.to_csv('golden_engi_self_cited_all_colab.tsv', sep='\t',index=False)

In [320]:
data0.to_excel('golden_engi_self_cited_all_colab.xlsx', index=False)